@model IEnumerable<Spend.Models.ACCH_OPBOXTBL_Model>
@using System.Globalization;
@{
    ViewBag.Title = " تقرير كشف حساب صندوق/بنك";
    double balance = 0;
    try { balance = ViewBag.SPEND_COST - ViewBag.INCOME; } catch { }

    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.CurrencyDecimalDigits = 2;
    nfi.NumberDecimalDigits = 2;
    nfi.CurrencyDecimalSeparator = ".";
    nfi.CurrencyGroupSeparator = ",";
    nfi.CurrencySymbol = "";
    nfi.NegativeSign = "-";
    nfi.NumberNegativePattern = 1;
    nfi.CurrencyNegativePattern = 1;

}






<div class="dashboard-content-wrap">
    <div class="dashboard-bread dashboard--bread dashboard-bread-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title font-size-30 text-white">كشف حساب</h2>
                        </div>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6">
                    <div class="breadcrumb-list text-right">
                        <ul class="list-items">
                            <li><a href="~" class="text-white">الصفحة الرئيسية</a></li>
                            <li>الحسابات</li>
                            <li>التقارير</li>
                        </ul>
                    </div><!-- end breadcrumb-list -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div>
    </div><!-- end dashboard-bread -->
    <div class="dashboard-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-box">

                        <div class="form-content">



                            @using (Html.BeginForm())
                            {



                                <div class=" row input-group ">


                                    <div class="col-md-3 col-sm-6  ">

                                        <select id="AccounNo" name="AccounNo" dir="ltr" class="form-control selectpicker " data-live-search="true">
                                            <option value="">الصندوق/البنك</option>
                                            @foreach (var p in ViewBag.BoxAcc)
                                            {
                                                if (p.BOX_NO == ViewBag.Acc)
                                                {
                                                    <option selected class="themeprimary" value='@p.BOX_NO'>
                                                        @p.BOX_NAME  -  @p.BOX_NO
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option class="themeprimary" value='@p.BOX_NO'>
                                                        @p.BOX_NAME   -  @p.BOX_NO
                                                    </option>
                                                }



                                            }

                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-6  ">

                                        @Html.DropDownList("Project", (SelectList)ViewBag.proj, "اختار المشروع", new { @class = "form-control project-select", @data_index = "0", @id = "projectDropdown" })

                                    </div>
                                    <div class="col-md-2 col-sm-6  ">

                                        @Html.DropDownList("buildingId", (SelectList)ViewBag.building, "اختار عمارة", new { @class = "form-control building-select", @data_index = "0", @id = "buildingDropdown" })

                                    </div>
                                    <div class="col-md-1 col-sm-6  ">

                                        @Html.DropDownList("unitId", (SelectList)ViewBag.unit, "اختار وحدة", new { @class = "form-control unit-select", @data_index = "0", @id = "unitDropdown" })

                                    </div>

                                    <div class="col-md-2 col-sm-6  ">

                                        <input type="date" class="form-control" id="FromDate" name="FromDate" />
                                    </div>
                                    <div class="col-md-2 col-sm-6  ">

                                        <input type="date" class="form-control" id="ToDate" name="ToDate" />
                                    </div>


                                    <div class="col-md-1 nopadding">
                                        <button class="btn btn-primary" type="submit"><i class="la la-search"></i></button>
                                    </div>


                                </div>
                            }



                            @if (Model != null)
                            {

                                <div class="mt-4 " @*style=" overflow-x: scroll; width: 100%;  "*@>
                                    <table id="ReportTable" class="table ">
                                        <thead>
                                            <tr>
                                                <th>رقم القيد</th>
                                                <th>البيان</th>
                                                <th>التاريخ </th>
                                                <th>مدين </th>
                                                <th>دائن</th>

                                                <th>الرصيد </th>


                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr>
                                                <td></td>
                                                <td><h5>الرصيد الافتتاحي</h5></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td>@balance</td>
                                            </tr>

                                            @foreach (var item in Model)
                                            {
                                                balance += item.SPEND_COST - item.INCOME;
                                                <tr>

                                                    <td>

                                                        @{ try
                                                            {
                                                                @item.UNDER_NO
                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }


                                                    </td>
                                                    <td>

                                                        @{ try
                                                            {
                                                                @item.NOTE
                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }


                                                    </td>

                                                    <td>
                                                        @{ try
                                                            {
                                                                @item.DATE_M.Value.ToString("dd/MM/yyyy")
                                                            }
                                                            catch
                                                            {

                                                            }


                                                        }
                                                    </td>

                                                    <td>
                                                        @{ try
                                                            {
                                                                @item.INCOME.ToString("C", nfi)
                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }
                                                    </td>
                                                    <td>

                                                        @{ try
                                                            {
                                                                @item.SPEND_COST.ToString("C", nfi)

                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }
                                                    </td>
                                                    <td>

                                                        @{ try
                                                            {
                                                                @balance.ToString("C", nfi)
                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }
                                                    </td>


                                                </tr>
                                            }
                                            <tr>
                                                <td></td>
                                                <td><h5>الاجمالي</h5></td>
                                                <td></td>
                                                <td>
                                                    @{double totalFOR_HIM = Model.Sum(x => x.INCOME);
                                                        <h5> @totalFOR_HIM.ToString("C", nfi)</h5>
                                                    }
                                                </td>
                                                <td>
                                                    @{double totalFROM_HIM = Model.Sum(x => x.SPEND_COST);
                                                        <h5>@totalFROM_HIM.ToString("C", nfi)</h5>
                                                    }
                                                </td>
                                                <td>
                                                    @*@{decimal total = totalFROM_HIM - totalFOR_HIM;
                                                            <h5> @total.ToString("0.##") </h5>
                                                        }*@
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>


                                </div>
                            }

                        </div>
                    </div><!-- end form-box -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->

            <div class="border-top mt-5"></div>
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="copy-right padding-top-30px">
                        <p class="copy__desc">
                            &copy; Copyright Tech Light 2022. Made with
                            <span class="la la-heart"></span> by <a href="http://TechLightsa.com/">Noury</a>
                        </p>
                    </div><!-- end copy-right -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="footer-social-box text-right padding-top-30px">
                        <ul class="social-profile">
                            <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                            <li><a href="#"><i class="lab la-twitter"></i></a></li>
                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                        </ul>
                    </div><!-- end copy-right-content -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end dashboard-main-content -->
</div><!-- end dashboard-content-wrap -->





<script>



        jQuery(document).ready(function () {

     $('#projectDropdown').change(function () {
    var projectId = $(this).val();
    $('#buildingDropdown').empty();
    $('#unitDropdown').empty();
    if (projectId) {
        $.getJSON('@Url.Action("GetByParintId", "AcchProject")', { Id: projectId }, function (data) {
            var items = '<option>اختار عمارة </option>';
            $.each(data, function (i, building) {
                items += "<option value='" + building.Value + "'>" + building.Text + "</option>";
            });
            $('#buildingDropdown').html(items);
        });
    }
});

     $('#buildingDropdown').change(function () {
    var buildingId = $(this).val();
    $('#unitDropdown').empty();
    if (buildingId) {
        $.getJSON('@Url.Action("GetByParintId", "AcchProject")', { Id: buildingId }, function (data) {
            var items = '<option>اختار وحدة</option>';
            $.each(data, function (i, unit) {
                items += "<option value='" + unit.Value + "'>" + unit.Text + "</option>";
            });
            $('#unitDropdown').html(items);
        });
    }
});

             var FromDate = moment('@ViewBag.FromDate',"YYYY-MM-DD").format('YYYY-MM-DD');
            var ToDate = moment('@ViewBag.ToDate',"YYYY-MM-DD").format('YYYY-MM-DD');

            $('#FromDate').val(FromDate);
            $('#ToDate').val(ToDate);

        ReportTabl = jQuery('#ReportTable').DataTable({
            "pagingType": "simple_numbers",
            "pageLength": 100,
            "ordering": false,
            "searching": false,
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }], dom: 'Bfrtip',
            responsive: true,
            buttons: [
                { extend: 'copy', text: 'نسخ' },

                {
                    extend: 'excelHtml5',
                    title:'كشف حساب'+$("#AccounNo option:selected").text()+'من تاريخ:'+'@ViewBag.FromDate'+'الى:'+'@ViewBag.ToDate',
                    text: ' اكسل',
                    titleAttr: 'تصدير اكسل',
                    customizeData: function (data) { // for long number

                    },

},
                {
                    extend: 'pdf', text: 'Pdf', customize: function (win) {

                        jQuery(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                '<h4 class="text-center"></h4>'
                            );

                        jQuery(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }},
                {
                    extend: 'print', text: 'طباعة',  title:'كشف حساب'+$("#AccounNo option:selected").text()+'من تاريخ:'+'@ViewBag.FromDate'+'الى:'+'@ViewBag.ToDate',

                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                `  <div class=" row m-4 " dir="rtl">
                                    <div class="row ">
                                        <div class="col-md-4 ">
                                            <div class="text-center  h4"> شركة اتحاد الماسة </div>
                                            <div class="text-center  h4"> للمقاولات</div>
                                            <div class="text-center h5"> قـسـم الحـسـابـات</div>
                                            <div class="text-center text-150 h5">www.union-diamond.net</div>
                                        </div>
                                        <div class="col-md-4 mt-2">
                                            <center><img src="http://uniondiamond-co.com:8888/assets/images/CompnyLogo.png" style="width:280px;height:150px" /></center>
                                         </div>
                                        <div class="col-md-4  justify-content-start" >
                                            <div class="text-center h4">Union Diamond Contracting Company</div>
                                            <div class="text-center h5 ">  Accounts Department</div>
                                            <div class="text-center text-150 h5">www.union-diamond.net</div>
                                        </div>
                                    </div>
                                 </div>
                               <div class="row">
                                 <div class="col-md-12 mt-4 mb-2"><hr/> </div>
                               </div>`  );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');

                        $(win.document.body).find('h1').css('font-size', '18pt');
                        $(win.document.body).find('h1').css('text-align', 'center');

                        $(win.document.body).find('table tbody td:nth-child(1)').css('text-align', 'right');
                        $(win.document.body).find('table').attr("dir", "rtl");
                        $(win.document.body).find('table').css("margin-top", "30px");
                        /*               $(win.document.body).find('table').css("margin-right","50px");*/
                        /*  $(win.document.body).find('table').css("margin-left","50px"); */
                        $(win.document.body).find('table').css("margin-bottom", "30px");
                        $(win.document.body).find('table').css("padding", "50px");


                        /* $(win.document.body).find('table').ddClass("m-4"); */


                    }
                },




            ],


              });



    });


</script>

