@model PagedList.IPagedList<Spend.Models.SPEND_SCRIPTBL_Model>
@using PagedList.Mvc;
@using System.Globalization;
@{
    ViewBag.Title = "السندات";

    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.CurrencyDecimalDigits = 2;
    nfi.NumberDecimalDigits = 2;
    nfi.CurrencyDecimalSeparator = ".";
    nfi.CurrencyGroupSeparator = ",";
    nfi.CurrencySymbol = "";
    nfi.CurrencyNegativePattern = 1;

}




@if (Model != null)
{




    <div class="dashboard-content-wrap">
        <div class="dashboard-bread dashboard--bread dashboard-bread-2">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30 text-white">السندات</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="breadcrumb-list text-right">
                            <ul class="list-items">
                                <li><a href="index.html" class="text-white">الصفحة الرئيسية</a></li>
                                <li>عمليات النظام</li>
                                @*<li>الصلاحيات</li>*@
                            </ul>
                        </div><!-- end breadcrumb-list -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div>
        </div><!-- end dashboard-bread -->
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-box">
                            <div class="form-title-wrap">


                                <a href="~/SPEND_SCRIPTBL/create" class="btn btn-primary btn-sm "> <i class="fa fa-plus"> </i>سند جديد</a>



                            </div>
                            <div class="form-content">



                                @using (Html.BeginForm())
                                {



                                    <div class=" row input-group margin-5">
                                        <div class="col-md-4 col-sm-8 nopadding ">

                                            <input class="form-control" name="search" id="search" type="text" placeholder="بحث..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />

                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <button class="btn btn-primary" type="submit"><i class="la la-search"></i></button>
                                        </div>


                                    </div>
                                }



                                @if (Model != null)
                                {

                                    <div class="card-body" style=" overflow-x: scroll; width: 100%;  ">
                                        <table class="table table-striped  table-sm small">
                                            <thead>
                                                <tr class="bg-info">
                                                    <th>رقم السند</th>

                                                    <th>التاريخ </th>
                                                    <th>اسم المشروع</th>
                                                    <th>البيان </th>
                                                    <th>رقم السند/الشيك </th>
                                                    <th>المدين</th>
                                                    <th>الدائن</th>
                                                    <th>المبلغ </th>
                                                    <th>النوع </th>
                                                    <th>نوع العملية</th>
                                                    <th>طريقة الدفع </th>
                                                    <th>  </th>

                                                </tr>
                                            </thead>

                                            <tbody>


                                                @foreach (var item in Model)
                                                {
                                                    <tr>

                                                        <td>

                                                            @{ try
                                                                {
                                                                    @item.SCRIP_NO
                                                                }
                                                                catch
                                                                {

                                                                }
                                                            }


                                                        </td>

                                                        <td>
                                                            @{ try
                                                                { @item.DATE_M.Value.ToString("dd/MM/yyyy") }
                                                            catch
                                                            {

                                                            }


                                                            }
                                                        </td>
                                                     
                                                        <td>
                                                            @{ try
                                                                {
                                                                    @item.PROJECTTBL_Model.PROJECT_NAME
                                                                }
                                                                catch
                                                                {

                                                                }
                                                            }
                                                        </td>
                                                        <td>

                                                            @{ try
                                                                { @item.REMARK }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>

                                                            @{ try
                                                                { @item.SHAKE_NO }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>

                                                            @{ try
                                                                { @item.DEBTOR_ACC_Model.ACC_NAME <span>(@item.DEBTOR_ACC)</span> }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>

                                                            @{ try
                                                                { @item.CREDITOR_Model.ACC_NAME <span>(@item.CREDITOR_ACC)</span>}
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>



                                                        <td>

                                                            @{ try
                                                                {@item.COST.Value.ToString("C", nfi) }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {@item.SCRIP_TYPETBL_Model.SCRIP_TYPE }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {@item.SCRIPT_ACTIONSTBL_Model.ACTION_NAME }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {@item.SCRIP_OPTYPETBL_Model.NAME }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>


                                                        <td>


                                                            <div class="row">
                                                                <div class="col-md-3 m-1">
                                                                    <a href="~/SPEND_SCRIPTBL/details/@item.ID" class="btn btn-info btn-sm"  title="عرض"> <i class="la  la-eye"> </i>  </a>
                                                                </div>

                                                                @if (item.SCRIP_TRANS == false)
                                                                {
                                                                    <div class="col-md-3 m-1">
                                                                        <a href="~/SPEND_SCRIPTBL/Edit/@item.ID" class="btn btn-info btn-sm " title="تعديل"> <i class="la  la-edit"> </i></a>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    
                                                                      <div class="col-md-3 m-1">
                                                                         <button type="button" onclick="OpenTransed(@item.ID)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="فك الترحيل"> <i class="la  la-arrow-down"> </i>  </button>
                                                                      </div>
                                                                    
                                                                }
                                                                <div class="col-md-3 m-1">
                                                                    <button onclick="print(@item.ID)" class="btn btn-success btn-sm " title="طباعة"> <i class="la  la-print"> </i></button>

                                                                </div>
                                                            </div>

                                                        </td>


                                                    </tr>
                                                }


                                            </tbody>
                                        </table>


                                    </div>
                                }

                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation example">

                            صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) من @Model.PageCount

                            <div>


                                @Html.PagedListPager(Model, page => Url.Action("index",
                                                             new { page })
                                                             ,
                                                             new PagedListRenderOptions
                                                             {
                                                                 LiElementClasses = new string[] { "page-link page-link-nav" },


                                                             }

                                                    )
                            </div>



                        </nav>
                    </div>
                </div>
                <div class="border-top mt-5"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">
                                &copy; Copyright Tech Light 2022. Made with
                                <span class="la la-heart"></span> by <a href="http://Tech-Light.com/">Noury</a>
                            </p>
                        </div><!-- end copy-right -->
                    </div><!-- end col-lg-7 -->

                    <div class="col-lg-5">
                        <div class="footer-social-box text-right padding-top-30px">
                            <ul class="social-profile">
                                <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                                <li><a href="#"><i class="lab la-twitter"></i></a></li>
                                <li><a href="#"><i class="lab la-instagram"></i></a></li>
                                <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                            </ul>
                        </div><!-- end copy-right-content -->
                    </div><!-- end col-lg-5 -->

                    <div id="PrintDiv" hidden="hidden">

                    </div>
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->







}

<script>

       function OpenTransed(id,type) {

            var result = confirm('هل انت متاكد من عملية فك الترحيل?');
            if (result) {
                $.ajax({
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    url: '@Url.Action("OpenTransed")', // this for calling the web method function in cs code.
                    data: { id: id },// empid value

                    success: function (response) {

                        if (response == "True") {

                            window.location.reload(true);
                            //window.location.replace("~/reserv/project/index/");
                        }
                        else {
                            alert("error" + "خطاء في البيانات .. لم يتم الفك");
                        }
                    }


                });

                return false;
            }
        }




    function print(id) {

        $("#PrintDiv").html(null);

        $.get("/SPEND_SCRIPTBL/Print/" + id , function (data) {

            $("#PrintDiv").html(data); // the div to load content in
            printTransRoll()
        });


    }

    function printTransRoll() {

        printJS({

            printable: "transprintDiv",

            type: "html",
            style: "*",
            maxWidth: "1000",
            targetStyles: "*",
            css: "*",
            font_size: "10",
            scanStyles: "false",
            header: '',
            //  onPrintDialogClose: printJobComplete,


        });
        // window.location.href = "/Spend/SALES_INVTBL/index";



    }


</script>