@model Spend.Models.Helper.AcchOpBoxModelView

@{
    ViewBag.Title = "ترصيد للمشروع";
}


    <div class="dashboard-content-wrap">
        <div class="dashboard-bread dashboard--bread dashboard-bread-2">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30 text-white">عملية جديدة</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="breadcrumb-list text-right">
                            <ul class="list-items">
                                <li><a href="~" class="text-white">الصفحة الرئيسية</a></li>
                                <li>المساهمة</li>
                                <li>انشاء عملية صرف للمشروع</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-box">
                            <div class="form-title-wrap">
                                <div>
                                    <h3 class="title">عملية صرف للمشروع</h3>
                                </div>
                            </div>
                            <div class="form-content">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <label for="inputLastName">اسم المشروع</label>
                                            @Html.DropDownList("ProjectId", (SelectList)ViewBag.proj, "اختار المشروع", new { @class = "form-control", @id = "projectDropdown" })
                                            @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating mb-12 mb-md-0">
                                            <label>العمارة</label>
                                            @Html.DropDownList("BuildingId", (SelectList)ViewBag.building, "اختار عمارة", new { @class = "form-control", @id = "buildingDropdown" })
                                            @Html.ValidationMessageFor(model => model.BuildingId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating mb-12 mb-md-0">
                                            <label>الوحدة</label>
                                            @Html.DropDownList("UnitId", (SelectList)ViewBag.unit, "اختار وحدة", new { @class = "form-control", @id = "unitDropdown" })
                                            @Html.ValidationMessageFor(model => model.UnitId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <label for="inputLastName">الصندوق</label>
                                                <select id="BoxId" name="BoxId" dir="ltr" class="form-control selectpicker" data-live-search="true">
                                                    @foreach (var p in ViewBag.Box)
                                                    {
                                                        <option class="themeprimary" value="@p.BOX_NO" @(Model.BoxId == p.BOX_NO ? "selected" : "")>@p.BOX_NAME</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <label for="inputLastName">نوع العملية</label>
                                                <select id="OpTypeId" name="OpTypeId" dir="ltr" class="form-control selectpicker" data-live-search="true" required>
                                                    <option value="">اختار نوع العملية</option>
                                                    @foreach (var p in ViewBag.BOX_OP)
                                                    {
                                                        if (p.OP_NO == 3 || p.OP_NO == 5 || p.OP_NO == 7)
                                                        {
                                                            <option class="themeprimary" value="@p.OP_NO" @(Model.OpTypeId == p.OP_NO ? "selected" : "")>@p.OP_NAME</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <label for="inputLastName">نوع حدث العملية</label>
                                                <select id="OpActionTypeId" name="OpActionTypeId" dir="ltr" class="form-control selectpicker" data-live-search="true">
                                                    <option value="">اختار نوع العملية</option>
                                                    @foreach (var p in ViewBag.OPBOX_ACTIONS)
                                                    {
                                                        if (p.ID == 4 || p.ID == 1 || p.ID == 6)
                                                        {
                                                            <option class="themeprimary" value="@p.ID" @(Model.OpActionTypeId == p.ID ? "selected" : "")>@p.ACTION_NAME</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <label for="inputLastName">التاريخ</label>
                                                @{
                                                    string Date = "";
                                                    try { Date = Model.Date.ToString("yyyy-MM-dd"); } catch { }
                                                }
                                                <input type="date" class="form-control" id="Date" value="@Date" name="Date">
                                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <label for="inputLastName">المبلغ</label>
                                                @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @id = "TotalAmount", @class = "form-control", @type = "text", @placeholder = "المبلغ", @disabled = "disabled" } })
                                                @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <label for="inputLastName">البيان</label>
                                                @Html.EditorFor(model => model.NOTE, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "البيان" } })
                                                @Html.ValidationMessageFor(model => model.NOTE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="button" id="addAccholder" class="btn btn-primary">اضافة مساهم</button>
                                        </div>
                                    </div>
                                    <div class="row mb-0">
                                        <div class="col-md-12">
                                            <div class="form-check form-switch col-md-12 p-0">
                                                <div class="card mb-4 col-md-12">
                                                    <div class="card-body">
                                                        <table id="parent-table" class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>المساهم</th>
                                                                    <th>اجمالي الرصيد</th>
                                                                    <th>نوع المساهمة</th>
                                                                    <th>نسبة المساهمة</th>
                                                                    <th>الرصيد المستقطع</th>
                                                                    <th>الرصيد المتبقي</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="opBoxlist">
                                                                @for (int i = 0; i < Model.AcchOpBoxDetailsModelView.Count; i++)
                                                                {
                                                                    var color = "";
                                                                    if ((Model.AcchOpBoxDetailsModelView[i].Balance - @Model.AcchOpBoxDetailsModelView[i].Amount) < 0)
                                                                    {
                                                                        color = "table-danger";
                                                                    }
                                                                    <tr class="form-group @color  ">
                                                                        <td>
                                                                            <select id="AcchOpBoxDetailsModelView-@i-AccHolderId" name="AcchOpBoxDetailsModelView[@i].AccHolderId" dir="ltr" class="form-control selectpicker" data-live-search="true">
                                                                                <option value="">اختار المساهم</option>
                                                                                @foreach (var p in ViewBag.Holder)
                                                                                {
                                                                                    <option class="themeprimary" value="@p.ACC_HOLDER_NO" data-balance="@p.BALANCE" @(Model.AcchOpBoxDetailsModelView[i].AccHolderId == p.ACC_HOLDER_NO ? "selected" : "")>@p.ACC_HOLDER_NAME</option>
                                                                                }
                                                                            </select>
                                                                        </td>
                                                                        <td id="AcchOpBoxDetailsModelView[@i]_BeforBalence">@Model.AcchOpBoxDetailsModelView[i].Balance </td>
                                                                        <td>@(Model.AcchOpBoxDetailsModelView[i].IsPercentage ? "نسبة" : "رصيد")</td>
                                                                        <td>@(Model.AcchOpBoxDetailsModelView[i].percentage * 100)%</td>
                                                                        <td>
                                                                            @Html.EditorFor(model => Model.AcchOpBoxDetailsModelView[i].Amount, new { htmlAttributes = new { @id = "AcchOpBoxDetailsModelView[" + i + "]_Amount", @class = "form-control Amount", @type = "number" } })
                                                                            @Html.ValidationMessageFor(model => model.NOTE, "", new { @class = "text-danger" })
                                                                        </td>
                                                                        <td id="AcchOpBoxDetailsModelView[@i]_NetBalence">@(Model.AcchOpBoxDetailsModelView[i].Balance - @Model.AcchOpBoxDetailsModelView[i].Amount) </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-danger removeB">حذف</button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4 mb-0">
                                        <div class="d-grid col-md-6"><button class="btn btn-primary btn-block" type="submit">حفظ</button></div>
                                        <div class="d-grid col-md-6"><a class="btn btn-danger btn-block" href="~/ACCH_OPBOXT/SpendProsses">رجوع</a></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top mt-5"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">&copy; Copyright Tech Light 2022. Made with <span class="la la-heart"></span> by <a href="http://TechLightsa.com/">Noury</a></p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-social-box text-right padding-top-30px">
                            <ul class="social-profile">
                                <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                                <li><a href="#"><i class="lab la-twitter"></i></a></li>
                                <li><a href="#"><i class="lab la-instagram"></i></a></li>
                                <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

             $('#projectDropdown').change(function () {
     var projectId = $(this).val();
     $('#buildingDropdown').empty();
     $('#unitDropdown').empty();
     if (projectId) {
         $.getJSON('@Url.Action("GetByParintId", "AcchProject")', { Id: projectId }, function (data) {
             var items = '<option>اختار عمارة </option>';
             $.each(data, function (i, building) {
                 items += "<option value='" + building.Value + "'>" + building.Text + "</option>";
             });
             $('#buildingDropdown').html(items);
         });
     }
 });

 $('#buildingDropdown').change(function () {
     var buildingId = $(this).val();
     $('#unitDropdown').empty();
     if (buildingId) {
         $.getJSON('@Url.Action("GetByParintId", "AcchProject")', { Id: buildingId }, function (data) {
             var items = '<option>اختار وحدة</option>';
             $.each(data, function (i, unit) {
                 items += "<option value='" + unit.Value + "'>" + unit.Text + "</option>";
             });
             $('#unitDropdown').html(items);
         });
     }
 });

      var index = @Model.AcchOpBoxDetailsModelView.Count;

       $('#addAccholder').click(function () {
        var newItem = `<tr class="form-group">
                        <td>
                        <select id="AcchOpBoxDetailsModelView-${index}-AccHolderId" name="AcchOpBoxDetailsModelView[${index}].AccHolderId" dir="ltr" class="form-control selectpicker" data-live-search="true">
                            <option value="">اختار المساهم </option>
                            @foreach (var p in ViewBag.Holder)
                            {
                                <option class="themeprimary" value="@p.ACC_HOLDER_NO" data-balance="@p.BALANCE">@p.ACC_HOLDER_NAME</option>
                            }
                        </select>
                      </td>
                      <td id="AcchOpBoxDetailsModelView[${index}]_BeforBalence"></td>
                      <td>قيمة</td>
                      <td></td>
                      <td><input class="form-control Amount" type="number" name="AcchOpBoxDetailsModelView[${index}].Amount" id="AcchOpBoxDetailsModelView_${index}_Amount" /></td>
                      <td id="AcchOpBoxDetailsModelView[${index}]_NetBalence"></td>
                      <td><button type="button" class="btn btn-danger removeB">حذف</button></td>
                    </tr>`;
        $('#opBoxlist').append(newItem);
        var select = $('#AcchOpBoxDetailsModelView-' + index + '-AccHolderId');
        select.selectpicker(); // Initialize the selectpicker
        select.selectpicker('refresh'); // Refresh the selectpicker
        index++;
        updateTotalNetBalance();
    });

          function updateTotalNetBalance() {

              var totalNetBalance = 0;
              $('.Amount').each(function () {
                  var value = parseFloat($(this).val()) || 0;
                  if (!isNaN(value)) {
                      totalNetBalance += value;
                  }
              });

              $('#TotalAmount').val(totalNetBalance.toFixed(2));
          }

    // Bind change event to select elements
    $(document).on('change', '.selectpicker', function (e) {
        // Get the selected option
        var selectedOption = $(this).find('option:selected');
        // Get the balance from the data attribute
        var balance = selectedOption.data('balance');
        // Find the corresponding td element and update its content
        var index = $(this).attr('id').match(/\d+/)[0];

        var $beforeBalanceTd = $('#AcchOpBoxDetailsModelView\\[' + index + '\\]_BeforBalence');
        $beforeBalanceTd.text(balance);

        var amount = parseFloat($('#AcchOpBoxDetailsModelView\\[' + index + '\\]_Amount').val()) || 0;
        var netBalance = balance - amount;
        $('#AcchOpBoxDetailsModelView\\[' + index + '\\]_NetBalence').text(netBalance);

        updateTotalNetBalance();
    });

      // Bind change event to amount inputs
        $(document).on('input', '.Amount', function (e) {
        var index = $(this).attr('id').match(/\d+/)[0];
        var balance = parseFloat($('#AcchOpBoxDetailsModelView-' + index + '-AccHolderId').find('option:selected').data('balance')) || 0;
        var amount = parseFloat($(this).val()) || 0;
        var netBalance = balance - amount;
        $('#AcchOpBoxDetailsModelView\\[' + index + '\\]_NetBalence').text(netBalance);

            var row = $(this).closest('tr');
            if (netBalance < 0) {
                row.css('background-color', '#f5c6cb');
            } else {
                row.css('background-color', '');
            }
        updateTotalNetBalance();
    });

    // Initially calculate the total NetBalance
          updateTotalNetBalance();

          $('#opBoxlist').on('click', '.removeB', function () {
              $(this).closest('.form-group').remove();
              updateTotalNetBalance();
          });
});

    </script>

