
@model Spend.Models.Helper.DistributionViewModel
@{
    ViewBag.Title = "توزيع ارباح";
}









<div class="dashboard-content-wrap">
    <div class="dashboard-bread dashboard--bread dashboard-bread-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title font-size-30 text-white">توزيع ارباح</h2>
                        </div>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6">
                    <div class="breadcrumb-list text-right">
                        <ul class="list-items">
                            <li><a href="~" class="text-white">الصفحة الرئيسية</a></li>
                            <li>التوزيع </li>
                            <li>توزيع ارباح</li>

                        </ul>
                    </div><!-- end breadcrumb-list -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div>
    </div><!-- end dashboard-bread -->
    <div class="dashboard-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-box">
                        <div class="form-title-wrap">
                            <div>
                                <h3 class="title"> توزيع  </h3>
                                @*<p class="font-size-14">إظهار 1 إلى 10 من أصل 20 مُدخل</p>*@
                            </div>



                        </div>
                        <div class="form-content">


                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="row mb-3">


                                    <div class="col-md-4">
                                        <div class="form-floating mb-12 mb-md-0">
                                            <label for="inputPasswordConfirm">المشروع</label>
                                            @Html.DropDownList("ProjectId", (SelectList)ViewBag.Project, "اختار المشروع", new { @class = "form-control", @id = "projectDropdown", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating mb-12 mb-md-0">
                                            <label>العمارة</label>
                                            @Html.DropDownList("BuildingId", Enumerable.Empty<SelectListItem>(), "اختار عمارة", new { @class = "form-control", @id = "buildingDropdown" })
                                            @Html.ValidationMessageFor(model => model.BuildingId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating mb-12 mb-md-0">
                                            <label>الوحدة</label>
                                            @Html.DropDownList("UnitId", Enumerable.Empty<SelectListItem>(), "اختار وحدة", new { @class = "form-control", @id = "unitDropdown" })
                                            @Html.ValidationMessageFor(model => model.UnitId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>


                                </div>



                                <div class="row mb-3">

                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <label for="inputLastName">الصندوق/بنك</label>

                                            @Html.DropDownList("BoxId", (SelectList)ViewBag.box, "اختار الصندوق/بنك", new { @class = "form-control selectpicker", @data_live_search = "true", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.BoxId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <label for="inputLastName"> التاريخ</label>
                                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date", @placeholder = "التاريخ", @required = "required", } })
                                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })


                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <label for="inputLastName">البيان</label>
                                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "البيان" } })
                                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })


                                        </div>
                                    </div>


                                </div>

                                <div class="row mb-3">

                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <label for="inputLastName">  المبلغ</label>
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "المبلغ", @required = "required", } })
                                            @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <label for="inputLastName">اجمالي المستقطع</label>
                                            <input class="form-control" type="number" value="0.00" disabled id="discount" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <label for="inputLastName">الصافي</label>
                                            <input class="form-control" type="number" value="0.00" disabled id="NetTotal" />

                                        </div>
                                    </div>

                                </div>



                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="button" id="addTrans" class="btn btn-primary">اضافة صرفية</button>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-md-12">
                                        <div class="form-check form-switch col-md-12 p-0">
                                            <div class="card mb-4 col-md-12">
                                                <div class="card-body">
                                                    <table id="parent-table" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>الحساب</th>
                                                                <th>نسبة</th>
                                                               
                                                                <th>المبلغ </th>



                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="Translist">
                                                       
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>








                                <div class="row mt-4 mb-0">
                                    <div class="d-grid col-md-6 "><button class="btn btn-primary btn-block" type="submit">حفظ</button></div>

                                    <div class="d-grid col-md-6"><a class="btn btn-danger btn-block" href="~/ACC_HOLDER/Index">رجوع</a></div>





                                </div>
                            }

                        </div>
                    </div><!-- end form-box -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->

            <div class="border-top mt-5"></div>
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="copy-right padding-top-30px">

                        <p class="copy__desc">
                            &copy; Copyright Tech Light 2022. Made with
                            <span class="la la-heart"></span> by <a href="http://TechLightsa.com/">Noury</a>
                        </p>

                    </div><!-- end copy-right -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="footer-social-box text-right padding-top-30px">
                        <ul class="social-profile">
                            <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                            <li><a href="#"><i class="lab la-twitter"></i></a></li>
                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                        </ul>
                    </div><!-- end copy-right-content -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end dashboard-main-content -->
</div><!-- end dashboard-content-wrap -->






<script>

      $(document).ready(function () {
           var today = moment().format('YYYY-MM-DD');
          $('#Date').val(today);

          $('#projectDropdown').change(function () {
            var projectId = $(this).val();
            $('#buildingDropdown').empty();
            $('#unitDropdown').empty();
            if (projectId) {
                $.getJSON('@Url.Action("GetByParintId", "AcchProject")', { Id: projectId }, function (data) {
                    var items = '<option>اختار عمارة </option>';
                    $.each(data, function (i, building) {
                        items += "<option value='" + building.Value + "'>" + building.Text + "</option>";
                    });
                    $('#buildingDropdown').html(items);
                });
            }
        });

        $('#buildingDropdown').change(function () {
            var buildingId = $(this).val();
            $('#unitDropdown').empty();
            if (buildingId) {
                $.getJSON('@Url.Action("GetByParintId", "AcchProject")', { Id: buildingId }, function (data) {
                    var items = '<option>اختار وحدة</option>';
                    $.each(data, function (i, unit) {
                        items += "<option value='" + unit.Value + "'>" + unit.Text + "</option>";
                    });
                    $('#unitDropdown').html(items);
                });
            }
        });


     var index = 0;
$('#addTrans').click(function () {
    var newItem = `<tr class="form-group">
              <td>${index + 1}</td>
              <td>
                  <select id="DistributionDetailsViewModel-${index}-AccHolderId" name="DistributionDetailsViewModel[${index}].AccHolderId" dir="ltr" class="form-control selectpicker" data-live-search="true">
                    <option value="">اختار لحساب </option>
                    @foreach (var p in ViewBag.AccHolder)
                    {
                        <option class="themeprimary" value="@p.ACC_HOLDER_NO" data-balance="@p.BALANCE">@p.ACC_HOLDER_NAME</option>
                    }
                 </select>
              </td>
              <td><input class="form-control percentage" type="number" name="DistributionDetailsViewModel[${index}].percentage" id="DistributionDetailsViewModel_${index}_percentage" /></td>
              <td><input class="form-control Amount" type="number" name="DistributionDetailsViewModel[${index}].Amount" id="DistributionDetailsViewModel_${index}_Amount" /></td>
              <td><button type="button" class="btn btn-danger removeB">حذف</button></td>
          </tr>`;

    $('#Translist').append(newItem);

    var select = $('#DistributionDetailsViewModel-' + index + '-AccHolderId');
    select.selectpicker(); // Initialize the selectpicker
    select.selectpicker('refresh'); // Refresh the selectpicker
    index++;
    updateTotal();
});

$('#Translist').on('click', '.removeB', function () {
    $(this).closest('.form-group').remove();
    updateTotal();
});

$(document).on('input', '.Amount', function (e) {
    var index = $(this).attr('id').match(/\d+/)[0]; // استخراج رقم index من id
    var total = parseFloat($('#TotalAmount').val());
    var amount = parseFloat($(this).val()) || 0;
    var percentage = (amount / total) * 100;
    $('#DistributionDetailsViewModel_' + index + '_percentage').val(percentage); // استخدام val بدلاً من text
    updateTotal();
});

$(document).on('input', '.percentage', function (e) {
    var index = $(this).attr('id').match(/\d+/)[0]; // استخراج رقم index من id
    var total = parseFloat($('#TotalAmount').val());
    var percentage = parseFloat($(this).val()) || 0;
    var amount = (percentage / 100) * total;
    $('#DistributionDetailsViewModel_' + index + '_Amount').val(amount); // استخدام val بدلاً من text
    updateTotal();
});


        function  updateTotal(){
            var amount = 0;
            var total = parseFloat( $('#TotalAmount').val());
            $('.Amount').each(function () {
               var value = parseFloat($(this).val()) || 0;
              if (!isNaN(value)) {
                  amount += value;
                }
                            });


            $('#discount').val(amount.toFixed(2));
            $('#NetTotal').val((total - amount).toFixed(2));

             }


    });

</script>