@model Spend.Models.Helper.TransModelView
@{
    ViewBag.Title = "القيود";
}



<div class="container" dir="rtl">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">القيود</h3></div>
                <div class="card-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                        <div class="row mb-2">





                            <div class="col-md-3">
                                <div class="form-floating mb-12 mb-md-0">
                                    <label>نوع العملية </label>

                                    @Html.DropDownList("OP_TYPE", (SelectList)ViewBag.BOX_OP, "اختار نوع العملية", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.OP_TYPE, "", new { @class = "text-danger" })




                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-floating mb-12 mb-md-0">
                                    <label>نوع حدث العملية </label>

                                    @Html.DropDownList("ACTION_TYPE", (SelectList)ViewBag.OPBOX_ACTIONS, "اختار نوع حدث العملية", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.ACTION_TYPE, "", new { @class = "text-danger" })


                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-floating mb-12 mb-md-0">
                                    <label>نوع حدث العملية </label>

                                    @Html.DropDownList("SOURCE_BOX", (SelectList)ViewBag.Box, "اختار البنك /الصندوق", new { @class = "form-control selectpicker", @data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.ACTION_TYPE, "", new { @class = "text-danger" })


                                </div>
                            </div>



                            <div class="col-md-3">
                                <div class="form-floating">
                                    <label class=" col-form-label-sm" for="inputLastName">التاريخ الميلادي</label>
                                    @Html.EditorFor(model => Model.DATE_M, new { htmlAttributes = new { @class = "form-control", @type = "date", @placeholder = "dd-mm-yyyy" } })
                                    @Html.ValidationMessageFor(model => Model.DATE_M, "", new { @class = "text-danger" })

                                </div>
                            </div>


                        </div>






                        <div class="row mb-4">
                            <div class="col-md-3">
                                <div class="form-floating mb-12 mb-md-0">
                                    <label for="inputPasswordConfirm">المشروع</label>
                                    @Html.DropDownList("TARGET_PROJ", (SelectList)ViewBag.proj, "اختار المشروع", new { @class = "form-control project-select", @data_index = "0", @id = "TransList_0__ProjectId" })
                                    @Html.ValidationMessageFor(model => model.TARGET_PROJ, "", new { @class = "text-danger" })



                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating mb-12 mb-md-0">
                                    <label>العمارة</label>
                                    @Html.DropDownList("BUILDING_ID", Enumerable.Empty<SelectListItem>(), "اختار عمارة", new { @class = "form-control building-select", @data_index = "0", @id = "TransList_0__BuildingId" })
                                    @Html.ValidationMessageFor(model => Model.BUILDING_ID, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating mb-12 mb-md-0">
                                    <label>الوحدة</label>
                                    @Html.DropDownList("UNIT_ID", Enumerable.Empty<SelectListItem>(), "اختار وحدة", new { @class = "form-control unit-select", @data_index = "0", @id = "TransList_0__UnitId" })

                                    @Html.ValidationMessageFor(model => Model.UNIT_ID, "", new { @class = "text-danger" })




                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <label class=" col-form-label-sm" for="inputLastName"> ملاحظة</label>
                                    @Html.EditorFor(model => Model.NOTE, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "البيان" } })
                                    @Html.ValidationMessageFor(model => Model.NOTE, "", new { @class = "text-danger" })

                                </div>
                            </div>

                        </div>





                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" id="addTrans" class="btn btn-primary">اضافة قيد</button>
                            </div>
                        </div>
                        <div class="row mb-0">
                            <div class="col-md-12">
                                <div class="form-check form-switch col-md-12 p-0">
                                    <div class="card mb-4 col-md-12">
                                        <div class="card-body">
                                            <table id="parent-table" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>المساهم</th>

                                                        <th>صرف</th>
                                                        <th>قبض</th>

                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Translist">
                                                    @*@if (Model.ACCH_OPBOXTBLs != null)
                                                    {
                                                        for (int i = 0; i < Model.ACCH_OPBOXTBLs.Count; i++)
                                                        {
                                                    <tr class="form-group">
                                                        <td>@(i + 1)</td>
                                                        <td>
                                                            <select id="ACCH_OPBOXTBLs-@i-ACC_HOLDER_NO" name="ACCH_OPBOXTBLs[@i].ACC_HOLDER_NO" dir="ltr" class="form-control selectpicker" data-live-search="true">
                                                                <option value="">اختار لحساب </option>
                                                                @foreach (var p in ViewBag.AccHolder)
                                                                {
                                                                    if (p.ACC_HOLDER_NO == Model.ACCH_OPBOXTBLs[i].ACC_HOLDER_NO)
                                                                    {
                                                                        <option class="themeprimary" value="@p.ACC_HOLDER_NO" data-balance="@p.BALANCE" selected>@p.ACC_HOLDER_NAME</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option class="themeprimary" value="@p.ACC_HOLDER_NO" data-balance="@p.BALANCE">@p.ACC_HOLDER_NAME</option>
                                                                    }

                                                                }
                                                            </select>
                                                        </td>


                                                        <td><input class="form-control INCOME" type="number" name="ACCH_OPBOXTBLs[@i}].INCOME" value="@Model.ACCH_OPBOXTBLs[i].INCOME" /></td>
                                                        <td><input class="form-control SPEND_COST" type="number" name="ACCH_OPBOXTBLs[@i}].SPEND_COST"value="@Model.ACCH_OPBOXTBLs[i].SPEND_COST" /></td>

                                                        <td><button type="button" class="btn btn-danger removeB">حذف</button></td>
                                                    </tr>
                                                        }
                                                    }*@
                                                    </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>







                        <div class="row mb-4">

                            <div class="col-md-2">
                                <div class="form-floating">
                                    <label class=" col-form-label-sm" for="inputLastName">الصرف</label>
                                    <input type="number" class="form-control" id="Totall-SPEND_COST" value="0" disabled />
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-floating">
                                    <label class=" col-form-label-sm" for="inputLastName">القبض</label>
                                    <input type="number" class="form-control" id="Totall-INCOME" value="0" disabled />



                                </div>
                            </div>
                            <div class="col-md-2 ">
                                <div class="form-floating">
                                    <label class=" col-form-label-sm  " for="inputLastName">الاجمالي </label>
                                    <input type="number" class="form-control" id="Totall" disabled />



                                </div>

                            </div>


                        </div>



                        <div class="row mt-4 mb-0">
                            <div class="d-grid col-md-6 "><button class="btn btn-primary btn-block" type="submit">حفظ</button></div>

                            <div class="d-grid col-md-6"><a class="btn btn-danger btn-block" href="~/ACCH_OPBOXT/Index">رجوع</a></div>





                        </div>
                    }
                    </div>
                <div class="card-footer text-center py-3">
                  
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sccece-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center" id="mesg">

            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {
        var today = moment().format('YYYY-MM-DD');

        $('#DATE_M').val(today);


        function updateBuilding(index) {
            var projectId = $(`#TransList_${index}__ProjectId`).val();
            var buildingSelect = $(`#TransList_${index}__BuildingId`);
            buildingSelect.empty();

            if (projectId) {
                $.getJSON('@Url.Action("GetByParintId", "AcchProject")', { Id: projectId }, function (data) {




                    var items = '<option>اختار عمارة </option>';
                    $.each(data, function (i, building) {
                        items += "<option value='" + building.Value + "'>" + building.Text + "</option>";
                    });
                    buildingSelect.html(items);




                });
            }


         }

        function updateUnits(index) {
            var buildingId = $(`#TransList_${index}__BuildingId`).val();
            var unitSelect = $(`#TransList_${index}__UnitId`);
            unitSelect.empty();

            if (buildingId) {
                $.getJSON('@Url.Action("GetByParintId", "AcchProject")', { Id: buildingId }, function (data) {

                    var items = '<option>اختار وحدة</option>';
                    $.each(data, function (i, unit) {
                        items += "<option value='" + unit.Value + "'>" + unit.Text + "</option>";
                    });
                    unitSelect.html(items);

              });
            }
        }


        $(document).on('change', '.project-select', function () {
            var index = $(this).data('index');
            updateBuilding(index);
        });

        $(document).on('change', '.building-select', function () {
            var index = $(this).data('index');
            updateUnits(index);
        });
        var index = 0;

      


      $('#addTrans').click(function () {
          var newItem = `<tr class="form-group">
                    <td>${index+1}</td>
                    <td>
                      <select id="ACCH_OPBOXTBLs-${index}-ACC_HOLDER_NO" name="ACCH_OPBOXTBLs[${index}].ACC_HOLDER_NO" dir="ltr" class="form-control selectpicker" data-live-search="true">
                          <option value="">اختار لحساب </option>
                          @foreach (var p in ViewBag.AccHolder)
                          {
                              <option class="themeprimary" value="@p.ACC_HOLDER_NO" data-balance="@p.BALANCE">@p.ACC_HOLDER_NAME</option>
                          }
                       </select>
                    </td>


                  <td><input class="form-control INCOME" type="number" name="ACCH_OPBOXTBLs[${index}].INCOME"  /></td>
                  <td><input class="form-control SPEND_COST" type="number" name="ACCH_OPBOXTBLs[${index}].SPEND_COST" /></td>

                  <td><button type="button" class="btn btn-danger removeB">حذف</button></td>
                </tr>`;


              $('#Translist').append(newItem);


          var select = $('#ACCH_OPBOXTBLs-' + index + '-ACC_HOLDER_NO');
          select.selectpicker(); // Initialize the selectpicker
          select.selectpicker('refresh'); // Refresh the selectpicker
          index++;
          updateTotal()

});

        $('#opBoxlist').on('click', '.removeB', function () {
            $(this).closest('.form-group').remove();
            updateTotal();
        });


        $(document).on('input', '.INCOME', function (e) {

            updateTotal();
        });
        $(document).on('input', '.SPEND_COST', function (e) {

            updateTotal();
        });


        function updateTotal() {

            var INCOME = 0;
            $('.INCOME').each(function () {
                var value = parseFloat($(this).val()) || 0;
                if (!isNaN(value)) {
                    INCOME += value;
                }
            });

            $('#Totall-INCOME').val(INCOME.toFixed(2));

            var SPEND_COST = 0;
            $('.SPEND_COST').each(function () {
                var value = parseFloat($(this).val()) || 0;
                if (!isNaN(value)) {
                    SPEND_COST += value;
                }
            });

            $('#Totall-SPEND_COST').val(SPEND_COST.toFixed(2));
            $('#Totall').val((INCOME - SPEND_COST).toFixed(2));
        }



    });


</script>