@model callcenter.model.call.callProjectModel
@using callcenter.business.call
@{
    ViewBag.Title = "edite";
    Layout = null;
    Layout = "~/Views/Shared/_ArabicLayout.cshtml";

}





<div class="widget flat radius-bordered no-margin no-padding" style="margin-top:20px ">
    <div class="widget-header bg-themeprimary">
        <span class="widget-caption typcn typcn-location"> المشاريع <span class="font-200">@if (Model.PROJECT_PARENT_ID > 0) {@Model.callProjectModels.PROJECT_AR_NAME}</span> </span>
        <input type="hidden" value="@callcenter.business.call.call_constants.project_type.suite" id="suiteCode" />
        <input type="hidden" value="@callcenter.business.call.call_constants.project_type.project" id="projectCode" />

    </div>

    <div class="widget-body">
        <div class="widget-main ">


            <div class="well">



                @using (Html.BeginForm("edit", "project", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {


                    @Html.AntiForgeryToken()







                    <div class="form-horizontal">
                        <div class="widget flat radius-bordered">

                            <div class="widget-header bordered-bottom bordered-blue margin-bottom-10">
                                <span class="widget-caption">البيانات الأساسية</span>
                            </div>

                            <div class="widget-body">

                                <div class="form-group  no-padding  btn-primary ">

                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                        <span class="control-label col-lg-4 col-md-4 col-md-12"> تكويد المشروع </span>

                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                            <input type="hidden" class="form-control" id="PROJECT_NO" name="PROJECT_NO" value="@Model.PROJECT_NO" />
                                            <input type="hidden" class="form-control" id="ID" name="ID" value="@Model.ID" />
                                            <input type="hidden" class="form-control" id="IMAGE_PATH" name="IMAGE_PATH" value="@Model.IMAGE_PATH" />
                                            <input type="hidden" class="form-control" id="PROJECT_CODE" name="PROJECT_CODE" value="@Model.PROJECT_CODE" />
                                            <span class="form-control">@Model.PROJECT_NO</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                        <span class="control-label col-lg-4 col-md-4 col-md-12"> المشروع الرئيسي </span>
                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                            <input type="hidden" id="PROJECT_PARENT_ID" name="PROJECT_PARENT_ID" value="@Model.PROJECT_PARENT_ID" />
                                            <span class="form-control">@if (Model.PROJECT_PARENT_ID > 0) {@Model.callProjectModels.PROJECT_AR_NAME}</span>

                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                        <span class="control-label col-lg-4 col-md-4 col-sm-12">نوع المشروع</span>
                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding" id="list_item">
                                            <input name="PROJECT_TYPE_ID" id="PROJECT_TYPE_ID" class="form-control" type="hidden" value="@Model.PROJECT_TYPE_ID" />
                                            @if (Model.PROJECT_TYPE_ID == callcenter.business.call.call_constants.project_type.suite)
                                            {

                                                <span class="form-control">وحدة </span>
                                            }
                                            else if (Model.PROJECT_TYPE_ID == callcenter.business.call.call_constants.project_type.building)
                                            { <span class="form-control">عقار </span>
                                            }
                                            else
                                            { <span class="form-control">مشروع </span>}

                                        </div>
                                    </div>

                                </div>


                                <div class="form-group  no-padding  btn-primary ">

                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                        <span class="control-label col-lg-4 col-md-4 col-sm-12">الإسم العربي</span>
                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.PROJECT_AR_NAME, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.PROJECT_AR_NAME, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                        <span class="control-label col-lg-4 col-md-4 col-sm-12">الإسم الانجليزي</span>
                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.PROJECT_EN_NAME, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.PROJECT_EN_NAME, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                        <span class="control-label col-lg-4 col-md-4 col-md-12"> العنوان </span>
                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.PROJECT_LOCATION, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.PROJECT_LOCATION, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group  no-padding btn-primary ">

                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                        <span class="control-label col-lg-4 col-md-4 col-md-12"> الجهة </span>
                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.DIRECTIONS, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.DIRECTIONS, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                        <span class="control-label col-lg-4 col-md-4 col-sm-12">ملاحظة </span>
                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.NOTE, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.NOTE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                        <span class="control-label col-lg-4 col-md-4 col-sm-12">صورة العقار </span>
                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                            <input type="file" name="file" class="form-control" />
                                            <img src="~/image/@Model.IMAGE_PATH" style="width:64px;" class="img-thumbnail" />
                                            <span asp-validation-for="IMAGE_PATH" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group no-padding btn-primary" id="imagerool">

                                    <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                        <span class="control-label col-lg-4 col-md-4 col-sm-12"> صورة المخطط </span>
                                        <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                            <input type="file" name="file2" class="form-control" />
                                            <span asp-validation-for="IMAGE_PATH" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <span class="control-label col-lg-2 col-md-2 col-sm-12"></span>

                                </div>

                            </div>
                        </div>


                        @if (callcenter.business.call.call_constants.project_type.building == Model.PROJECT_TYPE_ID)
                        {

                            <div class="widget flat radius-bordered">

                                <div class="widget-header bordered-bottom bordered-blue margin-bottom-10">
                                    <span class="widget-caption">بيانات الملكية</span>
                                </div>

                                <div class="widget-body">

                                    <div class="form-group  no-padding btn-primary ">

                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                            <span class="control-label col-lg-4 col-md-4 col-sm-12">مالك العقار</span>
                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.DropDownListFor(model => model.OWNER_ID, null, String.Empty, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.OWNER_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                            <span class="control-label col-lg-4 col-md-4 col-md-12"> رقم المخطط </span>

                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.PLANNED_NO, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.PLANNED_NO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                            <span class="control-label col-lg-4 col-md-4 col-md-12"> رقم القطعة </span>
                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.PIECE_NO, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.PIECE_NO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group  no-padding btn-primary ">

                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                            <span class="control-label col-lg-4 col-md-4 col-md-12">رقم الصك </span>

                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.DEED_NO, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @id = "dateh" } })
                                                @Html.ValidationMessageFor(model => model.DEED_NO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                            <span class="control-label col-lg-4 col-md-4 col-md-12"> مكان الاصدار </span>
                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.ISSUER, new { htmlAttributes = new { @class = "form-control", @autocomplete = "on" } })
                                                @Html.ValidationMessageFor(model => model.ISSUER, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                            <span class="control-label col-lg-4 col-md-4 col-md-12"> تاريخ الاصدار </span>
                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.DEED_DATE, new { htmlAttributes = new { @class = "form-control hijri-date-default", @autocomplete = "off", @type = "date", dir = "rtl" } })
                                                @Html.ValidationMessageFor(model => model.DEED_DATE, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="widget flat radius-bordered">

                                <div class="widget-header bordered-bottom bordered-blue margin-bottom-10">
                                    <span class="widget-caption">بيانات الحارس</span>
                                </div>

                                <div class="widget-body">

                                    <div class="form-group  no-padding btn-primary ">

                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                            <span class="control-label col-lg-4 col-md-4 col-sm-12">اسم الحارس</span>
                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.GUARD_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.GUARD_NAME, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                            <span class="control-label col-lg-4 col-md-4 col-sm-12"> رقم الهوية </span>

                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.GUARD_ID, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.GUARD_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                            <span class="control-label col-lg-4 col-md-4 col-sm-12"> رقم الجوال </span>
                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.GUARD_PHONE, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.GUARD_PHONE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>




                                </div>
                            </div>



                        }





                        <div class="widget flat radius-bordered">

                            <div class="widget-header bordered-bottom bordered-blue margin-bottom-10">
                                <span class="widget-caption">بيانات اضافية</span>
                            </div>

                            <div class="widget-body">
                                @if (callcenter.business.call.call_constants.project_type.building == Model.PROJECT_TYPE_ID)
                                {

                                    <div class="form-group  no-padding btn-primary ">


                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                            <span class="control-label col-lg-4 col-md-4 col-sm-12"> المحصل </span>

                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.DropDownListFor(model => model.AGENT_ID, null, String.Empty, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.AGENT_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding  ">
                                            <span class="control-label col-lg-4 col-md-4 col-sm-12"> عمولة إدارة الأملاك </span>
                                            <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.MANAG_COMMISSION, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.PIECE_NO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 no-padding ">

                                            <div id="chUPPERTANK" class=" text-align-center">
                                                <label>
                                                    @Html.CheckBoxFor(model => Model.HAS_VAT, new { htmlAttributes = new { @class = "form-control  " } })

                                                    <span class="text">يخضع لضريبة القيمة المضافة</span>
                                                </label>
                                            </div>
                                        </div>


                                    </div>
                                }
                            <div class="form-group  no-padding btn-primary ">

                                <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                    <span class="control-label col-lg-4 col-md-4 col-md-12">الايجار السنوي</span>
                                    <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                        @Html.EditorFor(model => model.MIN_COST, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.FIRST_COST, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                    <span class="control-label col-lg-4 col-md-4 col-md-12"> اقل سعر  </span>
                                    <div class="col-lg-8 col-md-8 col-sm-12 no-padding">
                                        @Html.EditorFor(model => model.FIRST_COST, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.MIN_COST, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>


                            </div>



                        </div>













                        @**************************************************@





                        <div class="widget flat radius-bordered" id="suiteDetail">

                            <div class="widget-header bordered-bottom bordered-blue margin-bottom-10">
                                <span class="widget-caption">بيانات تفصيلية للوحدة</span>
                            </div>

                            <div class="widget-body">

                                <div class="form-group  no-padding btn-primary ">

                                    <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                        <span class="control-label col-lg-5 col-md-5 col-sm-12">نوع الوحدة </span>
                                        <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                            @Html.DropDownListFor(model => model.UNIT_TYPE, null, String.Empty, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.UNIT_TYPE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                        <span class="control-label col-lg5 col-md-5 col-sm-12"> رقم الوحدة </span>
                                        <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.SUITE_NO, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.SUITE_NO, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                        <span class="control-label col-lg-5 col-md-5 col-sm-12"> رقم حساب الكهرباء </span>
                                        <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.ELECTRICITY_ACC, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.ELECTRICITY_ACC, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                        <span class="control-label col-lg-5 col-md-5 col-sm-12"> رقم حساب الماء </span>
                                        <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.WATER_ACC_NO, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.WATER_ACC_NO, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group  no-padding btn-primary ">
                                    <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                        <span class="control-label col-lg-5 col-md-5 col-sm-12"> المساحة </span>
                                        <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.SUITE_SPACE, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.SUITE_SPACE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                        <span class="control-label col-lg-5 col-md-5 col-sm-12"> ألطول </span>
                                        <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.LENGHT, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.SUITE_SPACE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                        <span class="control-label col-lg-5 col-md-5 col-sm-12"> العرض </span>
                                        <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.WIDTH, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.SUITE_SPACE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                        <span class="control-label col-lg-5 col-md-5 col-sm-12"> عدد المداخل </span>
                                        <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                            @Html.EditorFor(model => model.ENTRANCES_NO, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.ENTRANCES_NO, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div id="rome">



                                    <div class="form-group  no-padding btn-primary ">




                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> الدور </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.FLOOR_NO, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.FLOOR_NO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> اجمالي عدد الغرف </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.ROOM_COUNT, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.ROOM_COUNT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> عدد غرف النوم </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.BEDROOM_COUNT, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.BEDROOM_COUNT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> عدد مجالس الرجال </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.MEN_ROOM_COUNT, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.MEN_ROOM_COUNT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group  no-padding btn-primary ">


                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> عدد غرف الطعام </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.WOMEN_ROOM_COUNT, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.WOMEN_ROOM_COUNT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> عداد المطابخ </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.KITCHEN_COUNT, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.KITCHEN_COUNT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> عداد دوراة المياة </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.BATHROOM_COUNT, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.BATHROOM_COUNT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12">  عداد الصالات   </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.HALL_COUNT, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.HALL_COUNT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group  no-padding btn-primary ">


                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> سنة الانشاء </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.ESTABLISHED_YEAR, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.ESTABLISHED_YEAR, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> التكيف </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.ADAPTATION, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.ADAPTATION, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> الارضيات </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.FIOORS, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.FIOORS, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> الواجهات </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.FRONTAGE, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.FRONTAGE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group  no-padding btn-primary ">


                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> التشطيب </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.FINISHING, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.FINISHING, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>



                                    <div class="form-group  no-padding btn-primary ">

                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <div id="chUPPERTANK" class=" text-align-center">
                                                <label>
                                                    @Html.CheckBoxFor(model => Model.IS_PARKING, new { htmlAttributes = new { @class = "form-control  " } })

                                                    <span class="text">موقف سيارة</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <span class="control-label col-lg-5 col-md-5 col-sm-12"> رقم الموقف </span>
                                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                                @Html.EditorFor(model => model.PARKING_CODE, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.PARKING_CODE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <div id="chUPPERTANK" class=" text-align-center">
                                                <label>
                                                    @Html.CheckBoxFor(model => Model.IS_DRIVER_ROOM, new { htmlAttributes = new { @class = "form-control  " } })
                                                    <span class="text">غرفة سائق</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <div id="chUPPERTANK" class=" text-align-center">
                                                <label>
                                                    @Html.CheckBoxFor(model => Model.IS_EVELATOR, new { htmlAttributes = new { @class = "form-control  " } })

                                                    <span class="text">مصعد </span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group  no-padding btn-primary ">

                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <div id="chUPPERTANK" class=" text-align-center">
                                                <label>
                                                    @Html.CheckBoxFor(model => Model.IS_UPPER_TANK, new { htmlAttributes = new { @class = "form-control  " } })

                                                    <span class="text">خزان مستقل علوي</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <div id="chUPPERTANK" class=" text-align-center">
                                                <label>
                                                    @Html.CheckBoxFor(model => Model.IS_LOWER_TANK, new { htmlAttributes = new { @class = "form-control  " } })

                                                    <span class="text">خزان مستقل سفلي</span>
                                                </label>
                                            </div>
                                        </div>


                                    </div>



                                </div>
                            </div>



                        </div>




                        @************************************@



                        <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <div class="col-md-offset-10 col-md-10">

                                    @*<input type="submit" value="حفظ" class="btn btn-primary btn-lg" />*@
                                    <a> <button type="submit" class="btn btn-primary btn-lg "><i class="fa fa-save"></i>حفظ</button></a>
                                </div>


                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <div class="col-md-offset-2 col-md-10">
                                    @if (Model.PROJECT_TYPE_ID == callcenter.business.call.call_constants.project_type.project)
                                    {
                                        <a href="~/rental/Project/index"> <button type="button" class="btn btn-warning btn-lg "><i class="fa fa-reply"></i>رجوع</button></a>
                                    }
                                    else if (Model.PROJECT_TYPE_ID == callcenter.business.call.call_constants.project_type.building)
                                    {
                                        <a href="~/rental/Project/buildReview/@Model.PROJECT_PARENT_ID"> <button type="button" class="btn btn-warning btn-lg "><i class="fa fa-reply"></i>رجوع</button></a>

                                    }
                                    else
                                    { <a href="~/rental/Project/buildReview/@Model.callProjectModels.PROJECT_PARENT_ID"> <button type="button" class="btn btn-warning btn-lg "><i class="fa fa-reply"></i>رجوع</button></a>
                                    }
                                </div>


                            </div>

                        </div>

                    </div>


                }

            </div>




        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        //alert("ksjdf")
        //$("#list_item").load(function () {
        var cmbval = $("#PROJECT_TYPE_ID").val();


        if ($("#suiteCode").val() == cmbval) {
            $("#suiteDetail").show();
            $("#AGENT_ID").hide();
            $("#imagerool").hide();
        }
        else if (cmbval == $("#projectCode").val()) {
            $("#suiteDetail").hide();
            $("#AGENT_ID").hide();
            $("#imagerool").show();

        }
        else {
            $("#suiteDetail").hide();
            $("#AGENT_ID").show();
            $("#imagerool").hide();
        }

        //});
        $("#cheparking").change(function () {
            // alert($("#cheparking").val());

        });
       $("#rome").hide();
        $("#UNIT_TYPE").change(function () {

            var cmbval = $("#UNIT_TYPE").val();
            if (cmbval == @callcenter.business.call.call_constants.unit_type.shop || cmbval == @callcenter.business.call.call_constants.unit_type.workshop ) {

                $("#rome").hide();
            } else {
                $("#rome").show();
            }
        });
    });

</script>





