@model PagedList.IPagedList<Spend.Models.SALES_INVTBL_Model>
@using PagedList.Mvc;
@using System.Globalization;
@{
    ViewBag.Title = "فواتير المبيعات";

    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.CurrencyDecimalDigits = 2;
    nfi.NumberDecimalDigits = 2;
    nfi.CurrencyDecimalSeparator = ".";
    nfi.CurrencyGroupSeparator = ",";
    nfi.CurrencySymbol = "";
    nfi.CurrencyNegativePattern = 1;


}




@if (Model != null)
{




    <div class="dashboard-content-wrap">
        <div class="dashboard-bread dashboard--bread dashboard-bread-2">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30 text-white">فواتير المبيعات</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="breadcrumb-list text-right">
                            <ul class="list-items">
                                <li><a href="index.html" class="text-white">الصفحة الرئيسية</a></li>
                                <li>المبيعات</li>
                                @*<li>الصلاحيات</li>*@
                            </ul>
                        </div><!-- end breadcrumb-list -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div>
        </div><!-- end dashboard-bread -->
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-box">
                            <div class="form-title-wrap">


                                <a href="~/SALES_INVTBL/create" class="btn btn-primary btn-sm "> <i class="la la-plus"> </i>فاتورة جديدة</a>



                            </div>
                            <div class="form-content">
                                @using (Html.BeginForm())
                                {



                                    <div class=" row input-group mb-4 ">
                                        <div class="col-md-3 col-sm-8  ">

                                            <input class="form-control" name="search" id="search" type="text" placeholder="بحث..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />

                                        </div>
                                        <div class="col-md-3 pr-0">
                                            <button class="btn btn-primary" type="submit"><i class="la la-search"></i></button>
                                        </div>


                                    </div>
                                }
                                <div style=" overflow-x: scroll; width: 100%;  ">

                                    <table class="table  table-sm table-striped ">

                                        <thead>
                                            <tr>
                                                <th>رقم الفاتورة</th>

                                                <th>التاريخ هجري</th>
                                                <th>التاريخ ميلادي</th>
                                                <th>البيان</th>
                                                <th>اسم العميل</th>
                                                <th>القيمة </th>
                                                <th>الضريبة </th>
                                                <th>الخصم </th>
                                                <th>الاجمالي </th>
                                                <th>الحالة </th>


                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model.OrderByDescending(x => x.INV_NO))
                                            {


                                                <tr>

                                                    <td>
                                                        <a href="~/SALES_INVTBL/Inv_Details/@item.INV_NO?redirct=Agreement">
                                                            @{ try
                                                                {
                                                                    @item.INV_NO
                                                                }
                                                                catch
                                                                {

                                                                }
                                                            }
                                                        </a>

                                                    </td>

                                                    <td>
                                                        @{ try
                                                            { @item.DATE_H.Value.ToString("dd-MM-yyyy") }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.DATE_M.Value.ToString("dd-MM-yyyy") }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>

                                                    <td>@item.NOTE</td>
                                                    <td>
                                                        @{ try
                                                            {@item.SALES_CUSTTBL_Model.CUST_NAME_AR }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>

                                                    <td>
                                                        @{ try
                                                            {@item.PRICE.Value.ToString("C", nfi) }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.VAT_AMOUNT.Value.ToString("C", nfi) }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.DISCOUNT.Value.ToString("C", nfi) }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.INV_PUR.Value.ToString("C", nfi) }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.TRANSED == true)
                                                        {
                                                            <span class="badge badge-success py-1 px-2">مرحل</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-warning text-white py-1 px-2">غير مرحل</span>
                                                        }
                                                    </td>



                                                    <td>


                                                        <div class="row">

                                                            <div class="col-md-3 m-1">
                                                                <a href="~/SALES_INVTBL/Inv_Details/@item.INV_NO" class="btn btn-primary btn-sm " title="عرض"> <i class="la  la-eye"> </i>  </a>
                                                            </div>
                                                            @if (item.TRANSED != true)
                                                            {

                                                                <div class="col-md-3 m-1">


                                                                    <a href="~/SALES_INVTBL/Update/@item.INV_NO" class="btn btn-info btn-sm " title="تعديل"> <i class="la la-edit"></i>  </a>
                                                                </div>
                                                                <div class="col-md-3 m-1">


                                                                    <a href="~/SALES_INVTBL/InvoTranse/@item.INV_NO" class="btn btn-warning btn-sm " title="ترحيل"> <i class="la  la-arrow-down"> </i>  </a>
                                                                </div>
                                                            }
                                                            else if(item.BOX_TRANSED==false)
                                                            {
                                                                <div class="col-md-3 m-1">
                                                                    <button type="button" onclick="OpenTransed(@item.INV_NO)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="فك الترحيل"> <i class="la  la-arrow-up"> </i>  </button>
                                                                </div>
                                                            }





                                                            @*<div class="col-md-3 m-1">


            <a href="" class="btn btn-danger btn-sm "> <i class="la la-trash"></i>  </a>
        </div>*@

                                                        </div>

                                                    </td>
                                                </tr>

                                            }


                                        </tbody>

                                    </table>
                                </div>


                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation example">

                            صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) من @Model.PageCount

                            <div>


                                @Html.PagedListPager(Model, page => Url.Action("index",
                                                             new { page })
                                                             ,
                                                             new PagedListRenderOptions
                                                             {
                                                                 LiElementClasses = new string[] { "page-link page-link-nav" },


                                                             }

                                                    )
                            </div>



                        </nav>
                    </div>
                </div>
                <div class="border-top mt-5"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">
                                &copy; Copyright Tech Light 2022. Made with
                                <span class="la la-heart"></span> by <a href="http://Tech-Light.com/">Noury</a>
                            </p>
                        </div><!-- end copy-right -->
                    </div><!-- end col-lg-7 -->
                    <div class="col-lg-5">
                        <div class="footer-social-box text-right padding-top-30px">
                            <ul class="social-profile">
                                <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                                <li><a href="#"><i class="lab la-twitter"></i></a></li>
                                <li><a href="#"><i class="lab la-instagram"></i></a></li>
                                <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                            </ul>
                        </div><!-- end copy-right-content -->
                    </div><!-- end col-lg-5 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->







}

<script>
       function OpenTransed(id) {

            var result = confirm('هل انت متاكد من عملية فك الترحيل?');
            if (result) {
                $.ajax({
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    url: '@Url.Action("OpenTransed")', // this for calling the web method function in cs code.
                    data: { id: id },// empid value

                    success: function (response) {

                        if (response == "True") {

                            window.location.reload(true);
                            //window.location.replace("~/reserv/project/index/");
                        }
                        else {
                            alert("error" + "خطاء في البيانات .. لم يتم الفك");
                        }
                    }


                });

                return false;
            }
        }



</script>