@model Spend.Models.SALES_INVTBL_Model
@{
    ViewBag.Title = "تفاصيل فواتير المبيعات";
    decimal total = 0;
    int i = 1;
    try
    {
        total = Model.PRICE.Value + Model.VAT_AMOUNT.Value;

    }
    catch
    {

    }

}




@if (Model != null)
{

<div class="container" dir="rtl">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">  فاتورة مبيعات </h3></div>
                <div class="card-body">

                    <div class="row justify-content-center">
                        <div class="col-lg-11">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <!--<div class="card mb-1">
                                    <div class="card-body">-->
                                        @*<a href="~/SALES_INVTBL/Create" class="btn btn-primary btn-sm "> <i class="fa fa-plus"> </i> انشاء فاتورة جديدة </a>*@

                                        <!--<div class="row mb-2">

                                            <div class="col-lg-4 col-md-4 ">
                                                <span>
                                                    رقم الفاتورة : @Model.INV_NO
                                                </span>
                                            </div>

                                            <div class="col-lg-4 col-md-4">
                                                <span>
                                                    التاريخ : @{try
                                                        { @Model.DATE_M.Value.ToString("dd-MM-yyyy")}
                                                    catch { }
                                                    }
                                                </span>
                                            </div>

                                        </div>


                                        <div class="row">


                                            <div class="col-lg-4 col-md-4">
                                                <span>
                                                    اسم العميل : @{try
                                                        { @Model.SALES_CUSTTBL_Model.CUST_NAME_AR}
                                                    catch { }
                                                    }
                                                </span>
                                            </div>
                                            <div class="col-lg-4 col-md-4">

                                                <span>
                                                    رقم هوية العميل : @{try
                                                        { @Model.SALES_CUSTTBL_Model.CUST_ID}
                                                    catch { }
                                                    }
                                                </span>
                                            </div>

                                            <div class="col-lg-4 col-md-4">
                                                <span>
                                                    ملاحظة : @{try
                                                        { @Model.NOTE}
                                                    catch { }
                                                    }
                                                </span>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="card mb-1" id="DivIdToPrint">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        الاصناف

                                    </div>
                                    <div class="card-body" style=" overflow-x: scroll; width: 100%;  ">
                                        <table class="table table-bordered table-sm small">
                                            <thead>
                                                <tr>
                                                    <th>رقم </th>
                                                    <th>اسم المشروع</th>
                                                    <th>العمارة</th>
                                                    <th>الشقة</th>
                                                    <th>الكمية</th>
                                                    <th>كلفة السكن</th>
                                                    <th>الضريبة </th>
                                                    <th>قيمة الضريبة الاجمالية </th>
                                                    <th>الخصم </th>
                                                    <th>المجموع </th>
                                                    <th>الوصف </th>-->


                                                    @*<th></th>*@
                                                <!--</tr>
                                            </thead>

                                            <tbody>

                                                @foreach (var item in Model.SALES_INVDTTBL_Collection)
                                                {


                                                    <tr>

                                                        <td>

                                                            @{ try
                                                                {
                                                                    @i

                                                                }
                                                                catch
                                                                {

                                                                }
                                                            }

                                                        </td>

                                                        <td>
                                                            @{ try
                                                                { @item.PROJECTTBL_Model.PROJECT_NAME}
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {@item.PARTTBL_Model.PART_NAME }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>

                                                        <td>
                                                            @{ try
                                                                { @item.UNITTBL_Model.UNIT_NAME }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {@item.QNTY }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {@item.PRICE }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {@item.TAXED_COST }
                                                            catch
                                                            {

                                                            }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {@item.VAT_AMOUNT }
                                                            catch
                                                            {

                                                            }
                                                            }

                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {@item.DISCOUNT}
                                                            catch
                                                            {

                                                            }
                                                            }

                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {
                                                                    var t = item.PUR_PRICE;
                                                                    @t
                                                                }
                                                                catch
                                                                {

                                                                }
                                                            }

                                                        </td>
                                                        <td>
                                                            @{ try
                                                                {
                                                                    var t = item.DISCRIPTION;
                                                                    @t
                                                                }
                                                                catch
                                                                {

                                                                }
                                                            }

                                                        </td>



                                                    </tr>


                                                    i++;
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="card mb-1">
                                    <div class="card-body">
                                        <div class="row">


                                            <div class="col-lg-4 col-md-4">


                                                <div class="row mb-2">


                                                    <div class="col-lg-6 col-md-6">
                                                        <span>
                                                            القيمة:@Model.PRICE
                                                        </span>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 ">
                                                        <span>
                                                            الخصم:@{try
                                                                { @Model.DISCOUNT}
                                                            catch { }
                                                            }
                                                        </span>
                                                    </div>


                                                </div>


                                                <div class="row">


                                                    <div class="col-lg-6 col-md-6">
                                                        <span>
                                                            اجمالي الضريبة :@{try
                                                                { @Model.TAXED_COST}
                                                            catch { }
                                                            }
                                                        </span>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">

                                                        <span>
                                                            الاجمالي : @{try
                                                                { @Model.INV_PUR.Value}
                                                            catch { }
                                                            }
                                                        </span>
                                                    </div>

                                                </div>



                                            </div>
                                            <div class="col-lg-8 col-md-8">



                                                <textarea hidden id="qrcodeValue">Tech Light Group Company for Real Estate Investments,000000000000,@Model.DATE_M,@Model.TAXED_COST,@total</textarea>


                                                <div class="qrcode"></div>



                                            </div>

                                        </div>


                                    </div>
                                </div>-->



                                <div>
                                    @{Html.RenderPartial("_InvoPrint", Model);}
                                </div>
                                <div class="row mt-4 mb-0">

                                    <div class="d-grid col-md-6 "><button onclick="printInvoRoll('invoprintDiv');" class="btn btn-primary btn-block">طباعة</button></div>
                                    <div class="d-grid col-md-6"><a class="btn btn-danger btn-block" href="~/SALES_INVTBL/Index">رجوع</a></div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small">Tech Light</div>
            </div>
        </div>
    </div>
   

</div>
  

}

<script src="~/Scripts/Qrcode/jquery.qrcode.min.js"></script>
<script>



    $(document).ready(function () {
        var txt = $.trim($('#qrcodeValue').val());


        generateQRcode(150, 150, txt)
    });



    function generateQRcode(width, height, text) {
        $('.qrcode').qrcode({ width: width, height: height, text: text });
    }

    function printInvoRoll(id) {

        printJS({

            printable: id,

            type: "html",
            style: "*",
            maxWidth: "1000",
            targetStyles: "*",
            css: "*",
            font_size: "10",
            scanStyles: "false",
            header: '',
            //  onPrintDialogClose: printJobComplete,


        });
        // window.location.href = "/Spend/SALES_INVTBL/index";

        var b = "#" + id


    }




</script>
