@model Spend.Models.USERSTBL_Model
@{
    ViewBag.Title = "مجموعة جدة الاولى للاستثمارات العقارية";
    //  Layout = "~/Views/Shared/_ArabicLayout.cshtml";
    Layout = null;
}



<meta name="description" content="  مجموعة جدة الاولى للاستثمارات العقارية">
<meta name="keywords" content="عقارات, جدة, جدة الاولى,شقة للبيع,شقةوعمارة">
<meta name="author" content="مجموعة جدة الاولى للاستثمارات العقارية">

<link rel="shortcut icon" type="image/x-icon" href="~/assets/img/logo.png" />


<link rel="icon" type="image/x-icon" href="~/assets/img/logo.png" />

<meta charset="utf-8" />
<title>
    مجموعة جدة الاولى للاستثمارات العقارية
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="~/assets/img/logo.png" type="image/x-icon">


<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/bootstrap-rtl.min.css">
<link rel="stylesheet" href="~/assets/css/bootstrap-select.min.css">
<link rel="stylesheet" href="~/assets/css/line-awesome.css">
<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="~/assets/css/daterangepicker.css">
<link rel="stylesheet" href="~/assets/css/animate.min.css">
<link rel="stylesheet" href="~/assets/css/animated-headline.css">
<link rel="stylesheet" href="~/assets/css/jquery-ui.css">
<link rel="stylesheet" href="~/assets/css/jquery.filer.css">
<link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
<link rel="stylesheet" href="~/assets/css/style.css">
<link rel="stylesheet" href="~/assets/css/style-rtl.css">


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<body class="" dir="rtl">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">

                                    <h3 class="text-center font-weight-light my-4" style="color:#464545; text-shadow: 1px -1px 2px #9f9a9a">تسجيل الدخول</h3>
                                </div>



                                <div class="card-body">



                                    <div class="text-center">

                                        <img src="../assets/images/logo.svg" class="card-img-top " />
                                    </div>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class=" mb-3">
                                        @Html.EditorFor(model => model.LOGIN_NAME, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", placeholder = "اسم المستخدم" } })
                                        @Html.ValidationMessageFor(model => model.LOGIN_NAME, "", new { @class = "text-danger" })
                                        @*<label for="inputEmail">اسم المستخدم</label>*@
                                    </div>
                                    <div class="mb-3">
                                        @Html.EditorFor(model => model.LOGIN_PASS, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "كلمة المرور" } })
                                        @Html.ValidationMessageFor(model => model.LOGIN_PASS, "", new { @class = "text-danger" })
                                        @*<label for="inputPassword">كلمة المرور</label>*@
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="" id="inputRememberPassword" type="checkbox" value="" />
                                        <label class="form-check-label" for="inputRememberPassword">تذكر كلمة المرور</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="password.html">نسيت كلمة المرور؟</a>
                                        <button type="submit" class="btn btn-primary" href="~">دخـول</button>
                                    </div>

                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="register.html">انشاء حساب ؟ تسجيل!</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy;First jeddah </div>
                        @*<div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
 
    <script src="~/assets/js/bootstrap.min.js"></script>
</body>



}




