@model IEnumerable<IEnumerable<Spend.Models.ACCH_OPBOXTBL_Model>>
@using System.Globalization;
@{
    ViewBag.Title = "تقرير المساهمين  ";

    int i = 1;
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.CurrencyDecimalDigits = 2;
    nfi.NumberDecimalDigits = 2;
    nfi.CurrencyDecimalSeparator = ".";
    nfi.CurrencyGroupSeparator = ",";
    nfi.CurrencySymbol = "";
    nfi.NegativeSign = "-";
    nfi.NumberNegativePattern = 1;
    nfi.CurrencyNegativePattern = 1;

}






<div class="dashboard-content-wrap">
    <div class="dashboard-bread dashboard--bread dashboard-bread-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title font-size-30 text-white">كشف مسامهين</h2>
                        </div>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6">
                    <div class="breadcrumb-list text-right">
                        <ul class="list-items">
                            <li><a href="~" class="text-white">الصفحة الرئيسية</a></li>

                            <li>التقارير</li>
                            <li>تقرير المساهمين</li>
                        </ul>
                    </div><!-- end breadcrumb-list -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div>
    </div><!-- end dashboard-bread -->
    <div class="dashboard-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-box">

                        <div class="form-content">




                            @if (Model != null)
                            {

                                <div class="mt-4 " @*style=" overflow-x: scroll; width: 100%;  "*@>
                                    <table id="ReportTable" class="table ">
                                        <thead>
                                            <tr>
                                                <th># </th>
                                                <th>كود المساهم </th>
                                                <th>المساهم</th>
                                                <th>الوارد استثمار  </th>
                                                <th>الوارد غير استثمار </th>
                                                <th>مصروف استثمار </th>
                                                <th>مصروف غير استثمار </th>
                                                <th>الرصيد </th>
                                                <th>اجمالي راس المال </th>


                                            </tr>
                                        </thead>

                                        <tbody>



                                            @foreach (var item in Model)
                                            {

                                                <tr>
                                                    <td>@i  </td>
                                                    <td>

                                                        @{ try
                                                            {
                                                                @item.FirstOrDefault().ACC_HOLDER_NO
                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }


                                                    </td>
                                                    <td>

                                                        @{ try
                                                            {
                                                                @item.FirstOrDefault().ACC_HOLDERTBL_Model.ACC_HOLDER_NAME
                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }


                                                    </td>

                                                    <td>
                                                        @{ try
                                                            {
                                                                @item.Where(x => x.ACTION_TYPE == 1 || x.ACTION_TYPE == 4 | x.ACTION_TYPE == 6).Sum(x => x.INCOME).ToString("C", nfi)
                                                            }
                                                            catch
                                                            {

                                                            }


                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {
                                                                @item.Where(x => x.ACTION_TYPE == 2 || x.ACTION_TYPE == 5).Sum(x => x.INCOME).ToString("C", nfi)
                                                            }
                                                            catch
                                                            {

                                                            }


                                                        }
                                                    </td>

                                                    <td>
                                                        @{ try
                                                            {
                                                                @item.Where(x => x.ACTION_TYPE == 1 || x.ACTION_TYPE == 4 | x.ACTION_TYPE == 6).Sum(x => x.SPEND_COST).ToString("C", nfi)

                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }
                                                    </td>
                                                    <td>

                                                        @{ try
                                                            {
                                                                @item.Where(x => x.ACTION_TYPE == 2 || x.ACTION_TYPE == 3 || x.ACTION_TYPE == 5).Sum(x => x.SPEND_COST).ToString("C", nfi)
                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }
                                                    </td>

                                                    <td>

                                                        @{ try
                                                            {
                                                                var total = item.Sum(x => x.INCOME) - item.Sum(x => x.SPEND_COST);

                                                                @total.ToString("C", nfi)
                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }
                                                    </td>

                                                    <td>

                                                        @{ try
                                                            {
                                                                var total = (item.Sum(x => x.INCOME) - item.Sum(x => x.SPEND_COST)) + (item.Where(x => (x.SPEND_COST - x.INCOME) > 0 /*&& x.PROJECTTBL_Model.CLOSED == false*/).Sum(x => x.SPEND_COST) - item.Where(x => (x.SPEND_COST - x.INCOME) > 0 /*&& x.PROJECTTBL_Model.CLOSED == false*/).Sum(x => x.INCOME));

                                                                @total.ToString("C", nfi)
                                                            }
                                                            catch
                                                            {

                                                            }
                                                        }
                                                    </td>


                                                </tr>

                                                i++;
                                            }


                                        </tbody>
                                    </table>


                                </div>
                            }

                        </div>
                    </div><!-- end form-box -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->

            <div class="border-top mt-5"></div>
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="copy-right padding-top-30px">
                        <p class="copy__desc">
                            &copy; Copyright Tech Light 2022. Made with
                            <span class="la la-heart"></span> by <a href="http://TechLightsa.com/">Noury</a>
                        </p>
                    </div><!-- end copy-right -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="footer-social-box text-right padding-top-30px">
                        <ul class="social-profile">
                            <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                            <li><a href="#"><i class="lab la-twitter"></i></a></li>
                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                        </ul>
                    </div><!-- end copy-right-content -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end dashboard-main-content -->
</div><!-- end dashboard-content-wrap -->





<script>



    jQuery(document).ready(function () {



        ReportTabl = jQuery('#ReportTable').DataTable({
            "pagingType": "simple_numbers",
            "pageLength": 100,
            "ordering": true,
            "searching": true,
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }], dom: 'Bfrtip',

            responsive: true,
            buttons: [
                { extend: 'copy', text: 'نسخ' },
            
                {
                    extend: 'excelHtml5',

                    text: ' اكسل',
                    titleAttr: 'تصدير اكسل',
                    customizeData: function (data) { // for long number
                       
                    },

                },
                {
                    extend: 'pdf', text: 'Pdf', customize: function (win) {

                        jQuery(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                '<h4 class="text-center"></h4>'
                            );

                        jQuery(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                {
                    extend: 'print', text: 'طباعة', title: "تقرير المساهمين ",


                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                `  <div class=" row m-4 " dir="rtl">
                                    <div class="row ">
                                        <div class="col-md-4 ">
                                            <div class="text-center  h4"> شركة اتحاد الماسة </div>
                                            <div class="text-center  h4"> للمقاولات</div>
                                            <div class="text-center h5"> قـسـم الحـسـابـات</div>
                                            <div class="text-center text-150 h5">www.union-diamond.net</div>
                                        </div>
                                        <div class="col-md-4 mt-2">
                                            <center><img src="http://uniondiamond-co.com:8888/assets/images/CompnyLogo.png" style="width:280px;height:150px" /></center>
                                         </div>
                                        <div class="col-md-4  justify-content-start" >
                                            <div class="text-center h4">Union Diamond Contracting Company</div>
                                            <div class="text-center h5 ">  Accounts Department</div>
                                            <div class="text-center text-150 h5">www.union-diamond.net</div>
                                        </div>
                                    </div>
                                 </div>
                               <div class="row">
                                 <div class="col-md-12 mt-4 mb-2"><hr/> </div>
                               </div>`  );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');

                        $(win.document.body).find('h1').css('font-size', '18pt');
                        $(win.document.body).find('h1').css('text-align', 'center');

                        $(win.document.body).find('table tbody td:nth-child(1)').css('text-align', 'right');
                        $(win.document.body).find('table').attr("dir", "rtl");
                        $(win.document.body).find('table').css("margin-top", "30px");
                        /*               $(win.document.body).find('table').css("margin-right","50px");*/
                        /*  $(win.document.body).find('table').css("margin-left","50px"); */
                        $(win.document.body).find('table').css("margin-bottom", "30px");
                        $(win.document.body).find('table').css("padding", "50px");


                        /* $(win.document.body).find('table').ddClass("m-4"); */


                    }
                },




            ],


        });



    });



</script>

