@model PagedList.IPagedList<Spend.Models.CREDENCETBL_Model>
@using PagedList.Mvc;
@{
    ViewBag.Title = "الاعتمادات";
}




@if (Model != null)
{




    <div class="dashboard-content-wrap">
        <div class="dashboard-bread dashboard--bread dashboard-bread-2">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30 text-white">الاعتمادات</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="breadcrumb-list text-right">
                            <ul class="list-items">
                                <li><a href="index.html" class="text-white">الصفحة الرئيسية</a></li>
                                <li>تهيئة النظام</li>
                                @*<li>الصلاحيات</li>*@
                            </ul>
                        </div><!-- end breadcrumb-list -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div>
        </div><!-- end dashboard-bread -->
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-box">
                            <div class="form-title-wrap">


                                <a href="~/CREDENCE/create" class="btn btn-primary btn-sm "> <i class="fa fa-plus"> </i>انشاء اعتماد</a>



                            </div>
                            <div class="form-content">
                                @using (Html.BeginForm())
                                {



                                    <div class=" row input-group mb-4 ">
                                        <div class="col-md-3 col-sm-8  ">

                                            <input class="form-control" name="search" id="search" type="text" placeholder="بحث..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />

                                        </div>
                                        <div class="col-md-3 pr-0">
                                            <button class="btn btn-primary" type="submit"><i class="la la-search"></i></button>
                                        </div>


                                    </div>
                                }
                                <div>

                                    <table class="table  table-bordered table-striped ">
                                        <thead>
                                            <tr>
                                                <th>رقم الاعتمادات</th>
                                                <th>اسم الاعتمادات</th>
                                                <th>تاريخ البداء </th>
                                                <th>تاريخ الانتهاء</th>
                                                <th>حد ميزانية الدفع</th>
                                                <th>ملاحظة</th>
                                                <th> الحالة</th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                      
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                string tr_color = "";
                                                string CLOSED = "مفتوح";
                                                if (item.CLOSED == true)
                                                {
                                                    tr_color = "table-danger";
                                                    CLOSED = "مغلق";
                                                }

                                                <tr class="@tr_color">

                                                    <td>
                                                        @{ try
                                                            { @item.ID_NO }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.CRED_NAME }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.DATE_M }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.TO_DATE_M }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.BALANCE_LIMIT }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>@item.NOTE </td>
                                                    <td>
                                                        @CLOSED
                                                    </td>





                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-5 m-1">
                                                                <a href="~/CREDENCE/edit/@item.ID_NO" class="btn btn-info btn-sm "> <i class="la  la-edit"> </i>  </a>
                                                            </div>
                                                            <div class="col-md-5 m-1">


                                                                <button type="button" onclick="DeleteConfirmbox(@item.ID_NO)" class="btn btn-danger btn-sm "> <i class="la la-trash"></i>  </button>
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation example">

                            صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) من @Model.PageCount

                            <div>


                                @Html.PagedListPager(Model, page => Url.Action("index",
                                                             new { page })
                                                             ,
                                                             new PagedListRenderOptions
                                                             {
                                                                 LiElementClasses = new string[] { "page-link page-link-nav" },


                                                             }

                                                    )
                            </div>



                        </nav>
                    </div>
                </div>
                <div class="border-top mt-5"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">
                                &copy; Copyright Tech Light 2022. Made with
                                <span class="la la-heart"></span> by <a href="http://Tech-Light.com/">Noury</a>
                            </p>
                        </div><!-- end copy-right -->
                    </div><!-- end col-lg-7 -->
                    <div class="col-lg-5">
                        <div class="footer-social-box text-right padding-top-30px">
                            <ul class="social-profile">
                                <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                                <li><a href="#"><i class="lab la-twitter"></i></a></li>
                                <li><a href="#"><i class="lab la-instagram"></i></a></li>
                                <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                            </ul>
                        </div><!-- end copy-right-content -->
                    </div><!-- end col-lg-5 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->







}


















<script>
    function DeleteConfirmbox(id) {

        var result = confirm('هل انت متاكد من عملية الحذف?');
        if (result) {
            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                url: 'delete', // this for calling the web method function in cs code.
                data: { id: id },// empid value

                success: function (response) {

                    if (response == "True") {

                        window.location.reload(true);
                        //window.location.replace("~/reserv/project/index/");
                    }
                    else {
                        alert("error" + "خطاء في البيانات .. لم يتم الحذف");
                    }
                }


            });

            return false;
        }
    }

</script>

