@model Spend.Models.SPEND_SCRIPTBL_Model
@{

    ViewBag.Title = "انشاء سند ";


}





<div class="dashboard-content-wrap">
    <div class="dashboard-bread dashboard--bread dashboard-bread-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title font-size-30 text-white">سند جديد</h2>
                        </div>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6">
                    <div class="breadcrumb-list text-right">
                        <ul class="list-items">
                            <li><a href="~" class="text-white">الصفحة الرئيسية</a></li>
                            <li>السندات</li>
                            <li>انشاء سند</li>

                        </ul>
                    </div><!-- end breadcrumb-list -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div>
    </div><!-- end dashboard-bread -->
    <div class="dashboard-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-box">
                        <div class="form-title-wrap">
                            <div>
                                <h3 class="title">  سند</h3>
                                @*<p class="font-size-14">إظهار 1 إلى 10 من أصل 20 مُدخل</p>*@
                            </div>



                        </div>
                        @if (Model != null)
                        {
                            <div class="form-content">
                                <form id="Add" method="post">

                                   
                                        @Html.AntiForgeryToken()

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                        <input type="hidden" id="redirect" value="redirect" />

                                        <div class="row mb-3">

                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">اسم المشروع</label>
                                                    <select id="PROJECT_NO" name="PROJECT_NO" dir="ltr" disabled class="form-control selectpicker " data-live-search="true" required data-parsley-error-message="حقل مطلوب">
                                                        <option value="">اختار المشروع</option>
                                                        @foreach (var p in ViewBag.proj)
                                                        {
                                                            if (p.PROJECT_NO == Model.PROJECT_NO)
                                                            {
                                                                <option class="themeprimary" value="@p.PROJECT_NO" selected> @p.PROJECT_NAME</option>
                                                            }
                                                            else
                                                            {
                                                                <option class="themeprimary" value="@p.PROJECT_NO"> @p.PROJECT_NAME</option>
                                                            }
                                                        }

                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">مرحلة العمل</label>
                                                    <select id="GROUP_NO" name="GROUP_NO" dir="ltr" disabled class="form-control selectpicker " data-live-search="true">
                                                        <option value="">اختار مرحلة العمل</option>
                                                        @foreach (var p in ViewBag.STAGES)
                                                        {
                                                            if (p.STAGE_NO == Model.GROUP_NO)
                                                            {
                                                                <option class="themeprimary" value="@p.STAGE_NO" selected> @p.STAGE_NAME</option>
                                                            }
                                                            else
                                                            {
                                                                <option class="themeprimary" value="@p.STAGE_NO"> @p.STAGE_NAME</option>
                                                            }
                                                        }

                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">نوع السند</label>
                                                    <select id="SCRIPT_TYPE" name="SCRIPT_TYPE" disabled dir="ltr" class="form-control selectpicker " data-live-search="true" required data-parsley-error-message="حقل مطلوب">
                                                        <option value="">اختار نوع السند </option>
                                                        @foreach (var p in ViewBag.script_type)
                                                        {
                                                            if (p.ID_NO == Model.SCRIPT_TYPE)
                                                            {
                                                                <option class="themeprimary" value="@p.ID_NO" selected> @p.SCRIP_TYPE</option>
                                                            }
                                                            else
                                                            {
                                                                <option class="themeprimary" value="@p.ID_NO"> @p.SCRIP_TYPE</option>
                                                            }
                                                        }

                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">طريقة الدفع</label>
                                                    <select id="OP_TYPE" name="OP_TYPE" disabled dir="ltr" class="form-control selectpicker " data-live-search="true" required data-parsley-error-message="حقل مطلوب">
                                                        <option value="">اختار طريقة الدفع</option>
                                                        @foreach (var p in ViewBag.SRIP_OPTYPE)
                                                        {
                                                            if (p.ID_NO == Model.OP_TYPE)
                                                            {
                                                                <option class="themeprimary" value="@p.ID_NO" selected> @p.NAME</option>
                                                            }
                                                            else
                                                            {
                                                                <option class="themeprimary" value="@p.ID_NO"> @p.NAME</option>
                                                            }
                                                        }

                                                    </select>

                                                </div>
                                            </div>

                                        </div>



                                        <div class="row mb-3">





                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">نوع العملية</label>
                                                    <select id="ACTION_TYPE" name="ACTION_TYPE" dir="ltr" disabled class="form-control selectpicker " data-live-search="true" required data-parsley-error-message="حقل مطلوب">
                                                        <option value="">اختار نوع العملية</option>
                                                        @foreach (var p in ViewBag.ScACTION)
                                                        {
                                                            if (p.ACTION_NO == Model.ACTION_TYPE)
                                                            {
                                                                <option class="themeprimary" value="@p.ACTION_NO" selected> @p.ACTION_NAME</option>
                                                            }
                                                            else
                                                            {
                                                                <option class="themeprimary" value="@p.ACTION_NO"> @p.ACTION_NAME</option>
                                                            }
                                                        }

                                                    </select>

                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">رقم السند</label>
                                                    <input type="text" class="form-control" disabled id="SCRIP_NO" name="SCRIP_NO" value="@Model.SCRIP_NO" />

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">رقم القيد</label>
                                                    <input type="text" class="form-control" id="UNDER_NO" name="UNDER_NO" disabled value="@Model.UNDER_NO" />



                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">رقم السند/الشيك</label>
                                                    @Html.EditorFor(model => model.SHAKE_NO, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "رقم السند/الشيك", @required = "required", @data_parsley_error_message = "حقل مطلوب", @disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.SHAKE_NO, "", new { @class = "text-danger" })



                                                </div>
                                            </div>


                                        </div>

                                        <div class="row mb-3">



                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">الحساب المدين</label>
                                                    <select id="DEBTOR_ACC" name="DEBTOR_ACC" disabled dir="ltr" class="form-control selectpicker " data-live-search="true" required data-parsley-error-message="حقل مطلوب">
                                                        <option value="">اختار الحساب المدين</option>
                                                        @foreach (var p in ViewBag.AllAcc)
                                                        {
                                                            if (p.ACC_NO == Model.DEBTOR_ACC)
                                                            {
                                                                <option class="themeprimary" value="@p.ACC_NO" selected> @p.ACC_NAME (@p.ACC_NO)</option>
                                                            }
                                                            else
                                                            {
                                                                <option class="themeprimary" value="@p.ACC_NO"> @p.ACC_NAME (@p.ACC_NO)</option>
                                                            }
                                                        }

                                                    </select>


                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">الحساب الدئن</label>
                                                    <select id="CREDITOR_ACC" name="CREDITOR_ACC" disabled dir="ltr" class="form-control selectpicker " data-live-search="true" required data-parsley-error-message="حقل مطلوب">
                                                        <option value="">اختار الحساب الدئن</option>
                                                        @foreach (var p in ViewBag.AllAcc)
                                                        {
                                                            if (p.ACC_NO == Model.CREDITOR_ACC)
                                                            {
                                                                <option class="themeprimary" value="@p.ACC_NO" selected> @p.ACC_NAME (@p.ACC_NO)</option>
                                                            }
                                                            else
                                                            {
                                                                <option class="themeprimary" value="@p.ACC_NO"> @p.ACC_NAME (@p.ACC_NO)</option>
                                                            }
                                                        }

                                                    </select>


                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">المبلغ</label>
                                                    @Html.EditorFor(model => model.COST, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "المبلغ", @required = "required", @data_parsley_error_message = "حقل مطلوب", @disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.COST, "", new { @class = "text-danger" })


                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">اسم المستلم</label>
                                                    @Html.EditorFor(model => model.SCRIP_NAME, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " اسم المستلم", @disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.SCRIP_NAME, "", new { @class = "text-danger" })


                                                </div>
                                            </div>


                                        </div>

                                        <div class="row mb-3">



                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">تاريخ السند</label>
                                                    @Html.EditorFor(model => model.DATE_M, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "التاريخ", @required = "required", @disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.DATE_M, "", new { @class = "text-danger" })


                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">التاريخ هجري</label>
                                                    @Html.EditorFor(model => model.SCRIP_DATE, new { htmlAttributes = new { @class = "form-control", @type = "number", @disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.SCRIP_DATE, "", new { @class = "text-danger" })



                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">السنة المالية</label>

                                                    <input type="text" class="form-control" value="@Model.FISCAL_YEAR" disabled id="FISCAL_YEAR" name="FISCAL_YEAR" />

                                                    @Html.ValidationMessageFor(model => model.FISCAL_YEAR, "", new { @class = "text-danger" })


                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-4">

                                                        <label for="inputPasswordConfirm">تم الاستلام</label>
                                                        <div class="switch-h d-flex justify-content-between align-items-center border p-1 ">
                                                            <h5 class="font-size-h4 text-dark mb-0">نعم</h5>
                                                            <div class="custom-control switch custom-switch-info custom-switch custom-control-inline mr-0">
                                                                @Html.CheckBoxFor(model => model.RECEIVED, new { @class = "custom-control-input", @id = "RECEIVED", @disabled = "disabled" })
                                                                <label class="custom-control-label mr-1" for="RECEIVED">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">

                                                        <label for="inputPasswordConfirm">صيانة</label>
                                                        <div class="switch-h d-flex justify-content-between align-items-center border p-1 ">
                                                            <h5 class="font-size-h4 text-dark mb-0">نعم</h5>
                                                            <div class="custom-control switch custom-switch-info custom-switch custom-control-inline mr-0">
                                                                @Html.CheckBoxFor(model => model.M_SCRIP, new { @class = "custom-control-input", @id = "M_SCRIP", @disabled = "disabled" })
                                                                <label class="custom-control-label mr-1" for="M_SCRIP">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">

                                                        <label for="inputPasswordConfirm">مرحل</label>
                                                        <div class="switch-h d-flex justify-content-between align-items-center border p-1 ">
                                                            <h5 class="font-size-h4 text-dark mb-0">نعم</h5>
                                                            <div class="custom-control switch custom-switch-info custom-switch custom-control-inline mr-0">
                                                                @Html.CheckBoxFor(model => model.SCRIP_TRANS, new { @class = "custom-control-input", @id = "SCRIP_TRANS", @disabled = "disabled" })
                                                                <label class="custom-control-label mr-1" for="SCRIP_TRANS">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>



                                        <div class="row mb-3">



                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">جزء المشروع</label>
                                                    <select id="SUB_PROJ" name="SUB_PROJ" disabled dir="ltr" class="form-control selectpicker " data-live-search="true">
                                                        <option>اختار</option>
                                                        @foreach (var p in ViewBag.Subproj)
                                                        {
                                                            if (p.SUB_PROJ_NO == Model.SUB_PROJ)
                                                            {
                                                                <option class="themeprimary" selected value="@p.SUB_PROJ_NO"> @p.SUB_PROJ_NAME</option>
                                                            }
                                                            else
                                                            {

                                                                <option class="themeprimary" value="@p.SUB_PROJ_NO"> @p.SUB_PROJ_NAME</option>
                                                            }
                                                        }

                                                    </select>


                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">العمارة</label>
                                                    <select id="PART_NO" name="PART_NO" disabled dir="ltr" class="form-control selectpicker " data-live-search="true">
                                                        <option>اختار</option>
                                                        @foreach (var p in ViewBag.Part_b)
                                                        {
                                                            if (p.PART_NO == Model.PART_NO)
                                                            {
                                                                <option class="themeprimary" selected value="@p.PART_NO"> @p.PART_NAME</option>
                                                            }
                                                            else
                                                            {
                                                                <option class="themeprimary" value="@p.PART_NO"> @p.PART_NAME</option>
                                                            }
                                                        }

                                                    </select>


                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">الوحدة</label>
                                                    <select id="UNIT_NO" name="UNIT_NO" disabled dir="ltr" class="form-control selectpicker " data-live-search="true">
                                                        <option>اختار</option>
                                                        @foreach (var p in ViewBag.Unitt_b)
                                                        {
                                                            if (p.UNIT_NO == Model.UNDER_NO)
                                                            {
                                                                <option class="themeprimary" value="@p.UNIT_NO" selected> @p.UNIT_NAME</option>
                                                            }
                                                            else
                                                            {
                                                                <option class="themeprimary" value="@p.UNIT_NO"> @p.UNIT_NAME</option>
                                                            }
                                                        }

                                                    </select>


                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-floating">
                                                    <label for="inputLastName">البيان</label>
                                                    @Html.EditorFor(model => model.REMARK, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "البيان", @disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.REMARK, "", new { @class = "text-danger" })


                                                </div>
                                            </div>



                                        </div>





                                    <div class="row mt-4 mb-0">
                                        <div class="d-grid col-md-6 "><button class="btn btn-primary btn-block" id="btnSave" type="button">طباعة</button></div>

                                        <div class="d-grid col-md-6"><a class="btn btn-danger btn-block" href="~/ACCH_OPBOXT/details?UnderNo=@Model.UNDER_NO&reuternPage=">رجوع</a></div>





                                    </div>



                                </form>
                            </div>

                                        }
                                    
                        </div><!-- end form-box -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->

            <div class="border-top mt-5"></div>
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="copy-right padding-top-30px">

                        <p class="copy__desc">
                            &copy; Copyright Tech Light 2022. Made with
                            <span class="la la-heart"></span> by <a href="http://TechLightsa.com/">Noury</a>
                        </p>

                    </div><!-- end copy-right -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="footer-social-box text-right padding-top-30px">
                        <ul class="social-profile">
                            <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                            <li><a href="#"><i class="lab la-twitter"></i></a></li>
                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                        </ul>
                    </div><!-- end copy-right-content -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end dashboard-main-content -->
</div><!-- end dashboard-content-wrap -->
